@charset "gb2312";
/* CSS Document */
body{color:#444;}
a{color:#2595B7;}
/*a:hover{color:#72C1D8;}*/
/**头部导航条**/
.topArea{}
  .topBg{background-color:#449AB5;}
  .topBar{color:#fff;}
  .topBar a{color:#fff;}
/**header**/
.headerBg{background-color:#154D80;}
	.header .logo,.header .logo a{color:#fff;}
.search .keyWord{background-color:#E7F6FD;}
.search .button{background-color:#6ACDEA; color:#fff; border:1px solid #72C1D8;}
/*--default 导航样式--*/
.nav_1{background-color:#4499B5;box-shadow:0px -2px 5px rgba(50,50,50,0.5),0px 2px 3px rgba(100,100,100,0.5);}
	.nav_1 .NItem a{color:#fff;}
	.nav_1 .NItemCur a,.nav_1 .NItem a:active{color:#fff; background-color:#3BB7DB;}
/*--nav_1001 导航样式--*/
.nav_1001{background:-moz-linear-gradient(top, #6acdea 0%, #6acdea 50%, #52adc9 53%, #4499b5 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6acdea), color-stop(50%,#6acdea), color-stop(53%,#52adc9), color-stop(100%,#4499b5)); background: -webkit-linear-gradient(top, #6acdea 0%,#6acdea 50%,#52adc9 53%,#4499b5 100%); background: -o-linear-gradient(top, #6acdea 0%,#6acdea 50%,#52adc9 53%,#4499b5 100%); background:-ms-linear-gradient(top, #6acdea 0%,#6acdea 50%,#52adc9 53%,#4499b5 100%); background: linear-gradient(to bottom, #6acdea 0%,#6acdea 50%,#52adc9 53%,#4499b5 100%);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#6acdea, endColorstr=#4499b5);}
	.nav_1001 .NItem a{color:#fff;}
	.nav_1001 .NItemCur a,.nav_1001 .NItem a:active{color:#fff; background: -moz-linear-gradient(top, #94E6FF 0%, #94E6FF 50%, #71DDFF 53%, #61D0F6 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94E6FF), color-stop(50%,#94E6FF), color-stop(53%,#71DDFF), color-stop(100%,#61D0F6)); background: -webkit-linear-gradient(top, #94E6FF 0%, #94E6FF 50%, #71DDFF 53%, #61D0F6 100%); background: -o-linear-gradient(top, #94E6FF 0%, #94E6FF 50%, #71DDFF 53%, #61D0F6 100%); background: -ms-linear-gradient(top, #94E6FF 0%, #94E6FF 50%, #71DDFF 53%, #61D0F6 100%); background: linear-gradient(to bottom, #94E6FF 0%,#94E6FF 50%,#71DDFF 53%,#61D0F6 100%);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#94E6FF, endColorstr=#61D0F6);}
/*--.nav_1002 导航样式--*/
.nav_1002{background:-moz-linear-gradient(top, #3F8AA4 0%, #69CBE8 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3F8AA4), color-stop(100%,#69CBE8)); background: -webkit-linear-gradient(top, #3F8AA4 0%, #69CBE8 100%); background: -o-linear-gradient(top, #3F8AA4 0%, #69CBE8 100%); background: -ms-linear-gradient(top, #3F8AA4 0%, #69CBE8 100%); background: linear-gradient(to bottom,  #3F8AA4 0%, #69CBE8 100%);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3F8AA4, endColorstr=#69CBE8); box-shadow:0px 5px 25px rgba(63,138,164,1) inset;  border-color:#64BAD3;}
	.nav_1002 .NItem a{color:#fff;}
	.nav_1002 .NItemCur a,.nav_1002 .NItem a:active{background:-moz-linear-gradient(top, #4AACCA 0%, #4BA6C4 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4AACCA), color-stop(100%,#4BA6C4)); background: -webkit-linear-gradient(top, #4AACCA 0%, #4BA6C4 100%); background: -o-linear-gradient(top, #3F8AA4 0%, #4BA6C4 100%); background: -ms-linear-gradient(top, #4AACCA 0%, #4BA6C4 100%); background: linear-gradient(to bottom,  #4AACCA 0%, #4BA6C4 100%); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#4AACCA, endColorstr=#4BA6C4);  box-shadow:1px 1px 5px rgba(5,5,5,0.5) inset,-2px -2px 5px rgba(10,10,10,0.2) inset;color:#fff; }
/*--.nav_1003 导航样式--*/
.nav_1003{background:-moz-linear-gradient(top, #69CCE9 0%, #459BB7 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69CCE9), color-stop(100%,#459BB7)); background: -webkit-linear-gradient(top, #69CCE9 0%, #459BB7 100%); background: -o-linear-gradient(top, #69CCE9 0%, #459BB7 100%); background: -ms-linear-gradient(top, #69CCE9 0%, #459BB7 100%); background: linear-gradient(to bottom, #69CCE9 0%, #459BB7 100%); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#69CCE9, endColorstr=#459BB7); border-color:#4499B5; box-shadow:1px 1px 0px #B3E5F4 inset,-1px -1px 0px #B3E5F4 inset;}
	.nav_1003 .NItem a{color:#fff;}
	.nav_1003 .NItemCur a,.nav_1003 .NItem a:active{background:-moz-linear-gradient(top, #69CBE8 0%, #53AECB 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69CBE8), color-stop(100%,#53AECB)); background: -webkit-linear-gradient(top, #69CBE8 0%, #53AECB 100%); background: -o-linear-gradient(top, #69CBE8 0%, #53AECB 100%); background: -ms-linear-gradient(top, #69CBE8 0%, #53AECB 100%); background: linear-gradient(to bottom, #69CBE8 0%, #53AECB 100%); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#69CBE8, endColorstr=#53AECB); color:#fff;}
/*--.nav_1004 导航样式--*/
.nav_1004{background:-moz-linear-gradient(top, #69CBE8 0%, #459BB7 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69CBE8), color-stop(100%,#459BB7)); background: -webkit-linear-gradient(top, #69CBE8 0%, #459BB7 100%); background: -o-linear-gradient(top, #69CBE8 0%, #459BB7 100%); background: -ms-linear-gradient(top, #69CBE8 0%, #459BB7 100%); background: linear-gradient(to bottom,  #69CBE8 0%, #459BB7 100%); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#69CBE8, endColorstr=#459BB7);}
	.nav_1004 .NItem:after{border-color:#459BB7 #69CBE8 #69CBE8 #459BB7;}
	.nav_1004 .NItem a{color:#fff;}
	.nav_1004 .NItemCur a,.nav_1004 .NItem a:active{color:#fff;}
/*--nav-5 导航样式--*/
.nav_1005{background:-moz-linear-gradient(top, #FFFDFF 0%, #D7D7D7 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFDFF), color-stop(100%,#D7D7D7)); background: -webkit-linear-gradient(top, #FFFDFF 0%, #D7D7D7 100%); background: -o-linear-gradient(top, #FFFDFF 0%, #D7D7D7 100%); background: -ms-linear-gradient(top, #FFFDFF 0%, #D7D7D7 100%); background: linear-gradient(to bottom,  #FFFDFF 0%, #D7D7D7 100%); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FFFDFF, endColorstr=#D7D7D7); border-color:#459BB7 #fff #AAAAAA #fff;}
	.nav_1005 .NItem a{color:#333;}
	.nav_1005 .NItemCur a,.nav_1005 .NItem a:active{background:-moz-linear-gradient(top, #459BB7 0%, #69CAE7 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#459BB7), color-stop(100%,#69CAE7)); background: -webkit-linear-gradient(top, #459BB7 0%, #69CAE7 100%); background: -o-linear-gradient(top, #459BB7 0%, #69CAE7 100%); background: -ms-linear-gradient(top, #459BB7 0%, #69CAE7 100%); background: linear-gradient(to bottom,  #459BB7 0%, #69CAE7 100%); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#459BB7, endColorstr=#459BB7); color:#fff;}
/*--nav-6 导航样式--*/
.nav_1006{background:-moz-linear-gradient(top, #FFFFFF 0%, #F1F1F1 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F1F1F1)); background: -webkit-linear-gradient(top, #FFFFFF 0%, #F1F1F1 100%); background: -o-linear-gradient(top, #FFFFFF 0%, #459BB7 100%); background: -ms-linear-gradient(top, #FFFFFF 0%, #F1F1F1 100%); background: linear-gradient(to bottom,  #FFFFFF 0%, #F1F1F1 100%); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FFFFFF, endColorstr=#F1F1F1); border-color:#D8DDD9 #fff #449AB6 #fff;}
	.nav_1006 .NItem a{color:#333;}
	.nav_1006 .NItem:after{border-color:#459BB7 #D8D8D8 #69CBE8 #FCFCFC;}
	.nav_1006 .NItemCur a,.nav_1006 .NItem a:active{background:-moz-linear-gradient(top, #69CBE8 0%, #449AB6 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69CBE8), color-stop(100%,#449AB6)); background: -webkit-linear-gradient(top, #69CBE8 0%, #449AB6 100%); background: -o-linear-gradient(top, #69CBE8 0%, #459BB7 100%); background: -ms-linear-gradient(top, #69CBE8 0%, #449AB6 100%); background: linear-gradient(to bottom,  #69CBE8 0%, #449AB6 100%); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#69CBE8, endColorstr=#449AB6); color:#fff;}
/*--nav_1007 导航样式--*/
.nav_1007{background:-moz-linear-gradient(top, #69CBE8 0%, #449AB6 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#69CBE8), color-stop(100%,#449AB6)); background: -webkit-linear-gradient(top, #69CBE8 0%, #449AB6 100%); background: -o-linear-gradient(top, #69CBE8 0%, #459BB7 100%); background: -ms-linear-gradient(top, #69CBE8 0%, #449AB6 100%); background: linear-gradient(to bottom,  #69CBE8 0%, #449AB6 100%); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#69CBE8, endColorstr=#449AB6); box-shadow:0px -2px 5px rgba(50,50,50,0.5),0px 2px 3px rgba(100,100,100,0.5);}
	.nav_1007 .NItem a{color:#fff;}
	.nav_1007 .NItemCur a,.nav_1007 .NItem a:active{color:#449BB7; background-color:#fff; box-shadow:2px 2px 2px rgba(30,30,30,0.5) inset;}
/*--.nav_1008 导航样式--*/
.nav_1008{background:-moz-linear-gradient(top, #69CBE8 0%, #459BB7 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69CBE8), color-stop(100%,#459BB7)); background: -webkit-linear-gradient(top, #69CBE8 0%, #459BB7 100%); background: -o-linear-gradient(top, #69CBE8 0%, #459BB7 100%); background: -ms-linear-gradient(top, #69CBE8 0%, #459BB7 100%); background: linear-gradient(to bottom,  #69CBE8 0%, #459BB7 100%); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#69CBE8, endColorstr=#459BB7);}
	.nav_1008 .NItem a{background:-moz-linear-gradient(top, #0083AE 0%, #006282 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0083AE), color-stop(100%,#006282)); background: -webkit-linear-gradient(top, #0083AE 0%, #006282 100%); background: -o-linear-gradient(top, #0083AE 0%, #006282 100%); background: -ms-linear-gradient(top, #0083AE 0%, #006282 100%); background: linear-gradient(to bottom, #0083AE 0%, #006282 100%); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#0083AE, endColorstr=#006282); box-shadow:2px 2px 0px rgba(0,39,52,0.8); color:#fff; }
	.nav_1008 .NItemCur a,.nav_1008 .NItem a:active{background:-moz-linear-gradient(top, #3AABD5 0%, #00719B 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3AABD5), color-stop(100%,#00719B)); background: -webkit-linear-gradient(top, #3AABD5 0%, #00719B 100%); background: -o-linear-gradient(top, #3AABD5 0%, #00719B 100%); background: -ms-linear-gradient(top, #3AABD5 0%, #00719B 100%); background: linear-gradient(to bottom, #3AABD5 0%, #00719B 100%); color:#fff; box-shadow:2px 2px 0px rgba(26,90,116,0.8);}
/**更多菜单按钮**/
.navMoreBut{background-color:#469CB7; box-shadow:1px 1px 1px #000 inset;}
	.navMoreBut i,.navMoreBut b{background-color:#eee;}

/**2015-07-28 新增**/
/**更多按钮样式-1**/
.navMoreBut_1 i.i-2{border-color:#55B1CD; background: #F8FAFD;}
.navMoreBut_1 i.i-1,.navMoreBut_1 b.b-1,.navMoreBut_1 b.b-2{background: #55B1CD; border-color:#55B1CD;}
/**更多按钮样式-2**/
.navMoreBut_2{border:3px solid #55B1CD;}
.navMoreBut_2 i,.navMoreBut_2 b{background: #55B1CD;}
/**更多按钮样式-3**/
.navMoreBut_3{border:3px solid #55B1CD;}
.navMoreBut_3 b{background: #55B1CD;}
.navMoreBut_3 i{border-color:#55B1CD;}
/**更多按钮样式-4**/
.navMoreBut_4{background: #55B1CD; box-shadow:-1px 1px 0 #55B1CD, -1px -1px 0 #55B1CD, 1px 1px 0 #55B1CD,1px -1px 0 #55B1CD;}
.navMoreBut_4 i,.navMoreBut_4 b{ background: #F8FAFD;}
/**end 新增**/

/**更多导航-1**/
.NMore_1001{background-color:#4499B5; box-shadow:2px 2px 4px #666;}
.NMore_1001 a{color:#fff;}
.NMore_1001 .NMTip{border-color:transparent transparent #4499B5 transparent;}
.NMore_1001 li{border-bottom:1px solid #316e82; border-top:1px solid #58c4e8;}
.NMore_1001 li a{}
/**更多导航-2**/
.NMore_1002{background-color:#666666; box-shadow:-2px 0 5px #000;}
	.NMore_1002 a{color:#fff;}
	.NMore_1002 li{border-top:1px solid #cccccc; border-bottom:1px solid #333333;}
/**更多导航-3**/
.NMore_1003{background-color:#4499B5; box-shadow:2px 0 2px #000; width:100%;}
	.NMore_1003 ul{}
	.NMore_1003 li{}
	.NMore_1003 li a{color:#fff;}

/*--模块内容部分的样式--*/
.Mo{border-color:#cfebf6;}
.MoHead{height:35px; background-color:#C1E4F7; line-height:35px;}
  .NameTxt{ padding-left:10px; font-size:14px; font-family:"微软雅黑";}
	.NameTxt,.NameTxt a{ color:#2495b7;}
  .MoMore{right:10px;}
	.MoMore,.MoMore a{ color:#2495b7;}
	.MoMore:active,.MoMore a:active{color:#24A2C9;}
.MoBodyM{ background-color:#fff;}
  .MoBodyC{color:#444;}
	.MoBodyC a{color:#2595B7;}
	/*.MoBodyC a:hover{color:#2396b3;}*/
	.MoBodyC .InputText{border:1px solid #CAE5EF;}
	.MoBodyC .InputBut{background-color:#6ACDEA; color:#fff; border:1px solid #72C1D8; border-radius:3px;}
	.MoBodyC .dashedLine,.MoBodyC .solidLine{border-color:#6CC4DE;}
	.MoBodyC .pics{border-color:#CFEBF6;}
	.MoBodyC .oldPrice em{color:#888;}
	.MoBodyC .newPrice em{color:#2495B7;}
/**Mo_1001 模块样式*/
.Mo_1001 .MoHead{background-image:url(images/module/Mo_1001/MoHead_Bg.png);}
  .Mo_1001 .NameTxt,.Mo_1001 .NameTxt a{color:#fff;}
  .Mo_1001 .MoMore a{color:#fff;}
.Mo_1001 .MoBody{border-color:#6ACDEA;}
  .Mo_1001 .MoBodyM{background-color:#FFFFFF;}
  .Mo_1001 .MoBodyC{color:#444;}
	.Mo_1001 .MoBodyC a{color:#2595B7;}
	/*.Mo_1001 .MoBodyC a:hover{color:#2396b3;}*/
/**--Mo_1002 模块样式--**/
.Mo_1002 .MoHeadL,.Mo_1002 .MoHeadM,.Mo_1002 .MoHeadR{background-image:url(images/module/Mo_1002/MoHead_Bg.png);}
  .Mo_1002 .NameTxt,.Mo_1002 .NameTxt a{color:#fff;}
  .Mo_1002 .MoMore a{color:#fff;}
.Mo_1002 .MoBody{border-color:#6ACDEA;}
  .Mo_1002 .MoBodyM{background-color:#FFFFFF;}
  .Mo_1002 .MoBodyC{color:#444;}
	.Mo_1002 .MoBodyC a{color:#2595B7;}
	/*.Mo_1002 .MoBodyC a:hover{color:#2396b3;}*/
.Mo_1002 .MoBL,.Mo_1002 .MoBM,.Mo_1002 .MoBR{ height:5px; background-image:url(images/module/Mo_1002/MoB_Bg.png); display:table-cell;}
/**--Mo_1003 模块样式--**/
.Mo_1003 .MoHeadL,.Mo_1003 .MoHeadM,.Mo_1003 .MoHeadR{background-image:url(images/module/Mo_1003/MoHead_Bg.png);}
  .Mo_1003 .NameTxt,.Mo_1003 .NameTxt a{color:#fff;}
  .Mo_1003 .MoMore a{color:#fff;}
.Mo_1003 .MoBody{border-color:#6ACDEA;}
  .Mo_1003 .MoBodyM{background-color:#FFFFFF;}
  .Mo_1003 .MoBodyC{color:#444;}
	.Mo_1003 .MoBodyC a{color:#2595B7;}
	/*.Mo_1003 .MoBodyC a:hover{color:#2396b3;}*/
.Mo_1003 .MoBL,.Mo_1003 .MoBM,.Mo_1003 .MoBR{background-image:url(images/module/Mo_1003/MoB_Bg.png);}
/**--Mo_1004 模块样式--**/
.Mo_1004 .MoHeadL,.Mo_1004 .MoHeadM,.Mo_1004 .MoHeadR{background-image:url(images/module/Mo_1004/MoHead_Bg.png);}
  .Mo_1004 .NameTxt,.Mo_1004 .NameTxt a{color:#fff;}
  .Mo_1004 .MoMore a{color:#fff;}
.Mo_1004 .MoBody{}
  .Mo_1004 .MoBodyM{background-color:#FFFFFF;}
  .Mo_1004 .MoBodyC{color:#444;}
	.Mo_1004 .MoBodyC a{color:#2595B7;}
	/*.Mo_1004 .MoBodyC a:hover{color:#2396b3;}*/
/**--Mo_1005 模块样式--**/
.Mo_1005 .MoHead{background-image:url(images/module/Mo_1005/MoHead_Bg.png);background-color:#FFFFFF;}
  .Mo_1005 .NameTxt,.Mo_1005 .NameTxt a{color:#55B1CD;}
  .Mo_1005 .MoMore a{color:#55B1CD;}
.Mo_1005 .MoBody{}
  .Mo_1005 .MoBodyM{background-color:#FFFFFF;}
  .Mo_1005 .MoBodyC{color:#444;}
	.Mo_1005 .MoBodyC a{color:#2595B7;}
	/*.Mo_1005 .MoBodyC a:hover{color:#2396b3;}*/
/**Mo_1006 模块样式*/
.Mo_1006 .MoHead{background-image:url(images/module/Mo_1006/MoHead_Bg.png);}
  .Mo_1006 .NameTxt,.Mo_1006 .NameTxt a{color:#fff;}
  .Mo_1006 .MoMore a{color:#fff;}
.Mo_1006 .MoBody{border-color:#ccc;}
  .Mo_1006 .MoBodyM{background-color:#FFFFFF;}
  .Mo_1006 .MoBodyC{color:#444;}
	.Mo_1006 .MoBodyC a{color:#2595B7;}
	/*.Mo_1006 .MoBodyC a:hover{color:#2396b3;}*/
/**--Mo_1007 模块样式--**/
.Mo_1007 .MoHeadL,.Mo_1007 .MoHeadM,.Mo_1007 .MoHeadR{background-image:url(images/module/Mo_1007/MoHead_Bg.png);}
  .Mo_1007 .NameTxt,.Mo_1007 .NameTxt a{color:#fff;}
  .Mo_1007 .MoMore a{color:#fff;}
.Mo_1007 .MoBody{border-color:#ccc;}
  .Mo_1007 .MoBodyM{background-color:#FFFFFF;}
  .Mo_1007 .MoBodyC{color:#444;}
	.Mo_1007 .MoBodyC a{color:#2595B7;}
	/*.Mo_1007 .MoBodyC a:hover{color:#2396b3;}*/
.Mo_1007 .MoBL,.Mo_1007 .MoBM,.Mo_1007 .MoBR{ height:5px; background-image:url(images/module/Mo_1007/MoB_Bg.png); display:table-cell;}
/**--Mo_1008 模块样式--**/
.Mo_1008 .MoHeadL,.Mo_1008 .MoHeadM,.Mo_1008 .MoHeadR{background-image:url(images/module/Mo_1008/MoHead_Bg.png);}
  .Mo_1008 .NameTxt,.Mo_1008 .NameTxt a{color:#fff;}
  .Mo_1008 .MoMore a{color:#fff;}
.Mo_1008 .MoBody{border-color:#ccc;}
  .Mo_1008 .MoBodyM{background-color:#FFFFFF;}
  .Mo_1008 .MoBodyC{color:#444;}
	.Mo_1008 .MoBodyC a{color:#2595B7;}
	/*.Mo_1008 .MoBodyC a:hover{color:#2396b3;}*/
.Mo_1008 .MoBL,.Mo_1008 .MoBM,.Mo_1008 .MoBR{background-image:url(images/module/Mo_1008/MoB_Bg.png);}
/**--Mo_1009 模块样式--**/
.Mo_1009 .MoHeadL,.Mo_1009 .MoHeadM,.Mo_1009 .MoHeadR{background-image:url(images/module/Mo_1009/MoHead_Bg.png);}
  .Mo_1009 .NameTxt,.Mo_1009 .NameTxt a{color:#fff;}
  .Mo_1009 .MoMore a{color:#fff;}
  .Mo_1009 .MoBodyM{background-color:#FFFFFF;}
.Mo_1009 .MoBody{}
  .Mo_1009 .MoBodyC{color:#444;}
	.Mo_1009 .MoBodyC a{color:#2595B7;}
	/*.Mo_1009 .MoBodyC a:hover{color:#2396b3;}*/
/**Mo_1010 模块样式*/
.Mo_1010 .MoHead{background-color:#55B1CD;}
  .Mo_1010 .NameTxt,.Mo_1010 .NameTxt a{color:#fff;}
  .Mo_1010 .MoMore a{color:#fff;}
.Mo_1010 .MoBody{border-color:#CCCCCC;}
  .Mo_1010 .MoBodyM{background-color:#FFFFFF;}
  .Mo_1010 .MoBodyC{color:#444;}
	.Mo_1010 .MoBodyC a{color:#2595B7;}
	/*.Mo_1010 .MoBodyC a:hover{color:#2396b3;}*/
/**--Mo_1011 模块样式--**/
.Mo_1011 .MoHeadL,.Mo_1011 .MoHeadM,.Mo_1011 .MoHeadR{background-image:url(images/module/Mo_1011/MoHead_Bg.png);}
  .Mo_1011 .NameTxt,.Mo_1011 .NameTxt a{color:#fff;}
  .Mo_1011 .MoMore a{color:#fff;}
.Mo_1011 .MoBody{border-color:#ccc;}
  .Mo_1011 .MoBodyM{background-color:#FFFFFF;}
  .Mo_1011 .MoBodyC{color:#444;}
	.Mo_1011 .MoBodyC a{color:#2595B7;}
	/*.Mo_1011 .MoBodyC a:hover{color:#2396b3;}*/
.Mo_1011 .MoBL,.Mo_1011 .MoBM,.Mo_1011 .MoBR{ height:5px; background-image:url(images/module/Mo_1011/MoB_Bg.png); display:table-cell;}
/**--Mo_1012 模块样式--**/
.Mo_1012 .MoHeadL,.Mo_1012 .MoHeadM,.Mo_1012 .MoHeadR{background-image:url(images/module/Mo_1012/MoHead_Bg.png);}
  .Mo_1012 .NameTxt,.Mo_1012 .NameTxt a{color:#fff;}
  .Mo_1012 .MoMore a{color:#fff;}
.Mo_1012 .MoBody{border-color:#ccc;}
  .Mo_1012 .MoBodyM{background-color:#FFFFFF;}
  .Mo_1012 .MoBodyC{color:#444;}
	.Mo_1012 .MoBodyC a{color:#2595B7;}
	/*.Mo_1012 .MoBodyC a:hover{color:#2396b3;}*/
.Mo_1012 .MoBL,.Mo_1012 .MoBM,.Mo_1012 .MoBR{background-image:url(images/module/Mo_1012/MoB_Bg.png);}
/**--Mo_1013 模块样式--**/
.Mo_1013 .MoHeadL,.Mo_1013 .MoHeadM,.Mo_1013 .MoHeadR{background-image:url(images/module/Mo_1013/MoHead_Bg.png);}
	.Mo_1013 .NameTxt,.Mo_1013 .NameTxt a{color:#fff;}
	.Mo_1013 .MoMore a{color:#fff;}
.Mo_1013 .MoBody{}
  .Mo_1013 .MoBodyM{background-color:#FFFFFF;}
  .Mo_1013 .MoBodyC{color:#444;}
	.Mo_1013 .MoBodyC a{color:#2595B7;}
	/*.Mo_1013 .MoBodyC a:hover{color:#2396b3;}*/
/**Mo_1014 模块样式*/
.Mo_1014{}
.Mo_1014 .MoHead{background-image:url(images/module/Mo_1014/MoHead_Bg.png);}
  .Mo_1014 .NameTxt,.Mo_1014 .NameTxt a{color:#fff;}
  .Mo_1014 .MoMore a{color:#fff;}
.Mo_1014 .MoBody{border-color:#CCCCCC;}
  .Mo_1014 .MoBodyM{background-color:#FFFFFF;}
  .Mo_1014 .MoBodyC{color:#444;}
	.Mo_1014 .MoBodyC a{color:#2595B7;}
	/*.Mo_1014 .MoBodyC a:hover{color:#2396b3;}*/
/**Mo_1015 模块样式*/
.Mo_1015{border-color:#ccc;}
.Mo_1015 .MoHead{background-image:url(images/module/Mo_1015/MoHead_Bg.png); background-color:#fff; border-color: #55B1CD;}
  .Mo_1015 .NameTxt,.Mo_1015 .NameTxt a{color:#353535;}
  .Mo_1015 .MoMore a{color:#353535;}
  /*.Mo_1015 .MoMore a:hover{color:#2ba6cc;}*/
/*.Mo_1015 .MoBody{border-color:#55B1CD;}*/
  .Mo_1015 .MoBodyM{background-color:#FFFFFF;}
  .Mo_1015 .MoBodyC{color:#444;}
	.Mo_1015 .MoBodyC a{color:#2595B7;}
	/*.Mo_1015 .MoBodyC a:hover{color:#2396b3;}*/
/**--Mo_1016 模块样式--**/
.Mo_1016 .MoHeadL,.Mo_1016 .MoHeadM,.Mo_1016 .MoHeadR{background-image:url(images/module/Mo_1016/MoHead_Bg.png);}
  .Mo_1016 .MoNameL,.Mo_1016 .MoNameM,.Mo_1016 .MoNameR{background-image:url(images/module/Mo_1016/MoName_Bg.png);}
  .Mo_1016 .NameTxt,.Mo_1016 .NameTxt a{color:#fff;}
  .Mo_1016 .MoMore a{color:#353535;}
  /*.Mo_1016 .MoMore a:hover{color:#2ba6cc;}*/
.Mo_1016 .MoBody{border-color:#ccc;}
  .Mo_1016 .MoBodyM{background-color:#FFFFFF;}
  .Mo_1016 .MoBodyC{color:#444;}
	.Mo_1016 .MoBodyC a{color:#2595B7;}
	/*.Mo_1016 .MoBodyC a:hover{color:#2396b3;}*/

/**--Mo_1017 模块样式--**/
/*.Mo_1017{border-color:#fff; background-color:#fff;}*/
.Mo_1017 .MoHead{}
.Mo_1017 .MoHeadM{border-color:#55B1CD; background-color:#fff;}
  .Mo_1017 .NameTxt{border-color:#55B1CD;}
	.Mo_1017 .NameTxt,.Mo_1017 .NameTxt a{ color:#676767;}
  .Mo_1017 .MoMore{background-color:#55B1CD;}
	.Mo_1017 .MoMore a{ color:#fff;}
	.Mo_1017 .MoMore:active,.Mo_1017 .MoMore a:active{color:#24A2C9;}
.Mo_1017 .MoBodyM{ background-color:#fff;}
  .Mo_1017 .MoBodyC{color:#5C5C5C;}
	.Mo_1017 .MoBodyC .txtlist-a a{color:#676767;}
	/*.Mo_1017 .MoBodyC .proName,.Mo_1017 .MoBodyC .proName a{color:#676767;}*/
	.Mo_1017 .MoBodyC .oldPrice{color:#888;}
	.Mo_1017 .MoBodyC .newPrice{color:#ff6600;}

/**--2015-07-28 新增--**/
/**--Mo_1018 模块样式--**/
.Mo_1018 .MoHead{border-color:#55B1CD; background-color: #fff;}
.Mo_1018 .MoMore a{color:#000;}
.Mo_1018 .NameTxt a{color:#676767;}
.Mo_1018 .MoBodyM{background-color: #fff;}
.Mo_1018 .MoBodyC a{color:#5c5c5c;}
/**--Mo_1019 模块样式--**/
.Mo_1019 .MoHead{border-color:#55B1CD; background-color: #F7F7F8;}
.Mo_1019 .MoMore a{color:#000;}
.Mo_1019 .NameTxt a{color:#676767; font-size: 16px;}
.Mo_1019 .MoBodyM{background-color: #fff;}
.Mo_1019 .MoBodyC a{color:#5c5c5c;}
/**--Mo_1020 模块样式--**/
.Mo_1020 .MoName .MoNameM .NameTxt{ border-color:#55B1CD;}
.Mo_1020 .MoHead{ border-color:#E1E1E1; background-color: #fff;}
.Mo_1020 .MoMore a{color:#000;}
.Mo_1020 .MoBodyM{background-color: #fff;}
.Mo_1020 .MoBodyC a{color:#5c5c5c;}
.Mo_1020 .NameTxt a{color:#676767;}
/**--end 新增--**/


/**HMo_1001 标题模块样式*/
.HMo_1001{}
  .HMo_1001 .MoT,.HMo_1 .MoB{display:none;}
  .HMo_1001 .MoHeadM{background-color:#55B1CD;}
  .HMo_1001 .NameTxt,.HMo_1001 .NameTxt a{color:#fff;}
  .HMo_1001 .MoMore a{color:#fff;}
/**HMo_1002 标题模块样式*/
  .HMo_1002 .MoTL,.HMo_1002 .MoTR{background-image:url(images/Hmodule/HMo_1002/SJ_Bg.png);}
  .HMo_1002 .MoTM{background-color:#55b1cd;}
  .HMo_1002 .MoHeadM{background-color:#55b1cd;}
	.HMo_1002 .NameTxt,.HMo_1002 .NameTxt a{color:#fff;}
  .HMo_1002 .MoMore a{color:#fff;}
/**HMo_1003 标题模块样式*/
	.HMo_1003 .MoTL,.HMo_1003 .MoTR,.HMo_1003 .MoBL,.HMo_1003 .MoBR{background-image:url(images/Hmodule/HMo_1003/SJ_Bg.png);}
	.HMo_1003 .MoTM,.HMo_1003 .MoBM{background-image:url(images/Hmodule/HMo_1003/TM_BM_Bg.png);}
  .HMo_1003 .MoHeadL,.HMo_1003 .MoHeadR{width:5px; background-image:url(images/Hmodule/HMo_1003/HL_HR_Bg.png);}
	.HMo_1003 .MoHeadM{background-color:#55b1cd;}
	  .HMo_1003 .NameTxt,.HMo_1003 .NameTxt a{color:#fff;}
	.HMo_1003 .MoMore a{color:#fff;}
/**HMo_1004 标题模块样式*/
	.HMo_1004 .MoTL,.HMo_1004 .MoTR,.HMo_1004 .MoBL,.HMo_1004 .MoBR{background-image:url(images/Hmodule/HMo_1004/SJ_Bg.png);}
	.HMo_1004 .MoTM,.HMo_1004 .MoBM{background-color:#55b1cd;}
	.HMo_1004 .MoHeadM{background-color:#55b1cd;}
	.HMo_1004 .NameTxt{padding-left:10px;}
	  .HMo_1004 .NameTxt,.HMo_1004 .NameTxt a{color:#fff;}
	.HMo_1004 .MoMore a{color:#fff;}
/**--HMo_1005 basic setting--**/
	.HMo_1005 .MoBM{background-image:url(images/Hmodule/HMo_1005/BM_Bg.png);}
	.HMo_1005 .MoHeadM{background-color:#55b1cd;}
	  .HMo_1005 .NameTxt,.HMo_1005 .NameTxt a{color:#fff;}
	.HMo_1005 .MoMore a{color:#fff;}
/**--HMo_1006 basic setting--**/
	.HMo_1006 .MoBM{background-image:url(images/Hmodule/HMo_1006/BM_Bg.png);}
	.HMo_1006 .MoHeadM{background-color:#transparent;}
	  .HMo_1006 .NameTxt,.HMo_1006 .NameTxt a{color:#55b1cd;}
	.HMo_1006 .MoMore a{color:#55b1cd;}
/**底部页脚**/
.footer{}
  .footerBg{background-color:#fff;}
  .footerCon{color:#444444;border-color:#EAF7FD;}
	.footerCon a{color:#444444;}
	/*.footerCon a:hover{text-decoration:underline; color:#A50409;}*/

/**toolMenu**/
.toolMenu{background-color:#469CB7;}
.toolBut strong{color:#fff;}
/**焦点图**/
  .banner-nav-1 span{ background-color:gray; }
  .banner-nav-1 .cur{background-color:#469CB7;}
  .banner-nav-2 span{color:#fff;}
  .banner-nav-2 .cur{background-color:#469CB7;}

/**基本模块公用颜色**/
.pic{outline-color:#ccc;}
.pic_cur{outline-color:#66C8E5;}
.MoBodyC{color:#7C7B7C;}
.picTxtmodule{}
.txtListmodule_1 li,.txtListmodule_2 li{border-color:#ccc;}
.txtListmodule a{color:#7C7B7C;}
	/*.txtListmodule a:hover{color:#2595B7;}*/
/*.proName,.proName a{color:#454543;}*/
.proName:active,.proName a:active{color:#2396B3;}
.proPrice{color:#454543;}
.oldPrice em{color:#1B62A3;}
.newPrice em{color:#c00;}
.dashed_divide{border-top:1px dashed #ccc;}/**分界虚线颜色**/
.solid_divide{border-top:solid #EFEFEF 1px;}/**分界实线线颜色**/
.tInputObj{border-color:#ccc; background-color:#fff;}
.pInputObj{border-color:#ccc; background-color:#fff;}
.eButObj{border-radius:3px; text-align:center; line-height:30px; height:30px; background:-moz-linear-gradient(top, #3AABD5 0%, #00719B 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3AABD5), color-stop(100%,#00719B)); background: -webkit-linear-gradient(top, #3AABD5 0%, #00719B 100%); background: -o-linear-gradient(top, #3AABD5 0%, #00719B 100%); background: -ms-linear-gradient(top, #3AABD5 0%, #00719B 100%); background: linear-gradient(to bottom, #3AABD5 0%, #00719B 100%); color:#fff;}
.eButObj:active{background:-moz-linear-gradient(top, #40B9E3 0%, #058EC1 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#40B9E3), color-stop(100%,#058EC1)); background: -webkit-linear-gradient(top, #40B9E3 0%, #058EC1 100%); background: -o-linear-gradient(top, #40B9E3 0%, #058EC1 100%); background: -ms-linear-gradient(top, #40B9E3 0%, #058EC1 100%); background: linear-gradient(to bottom, #40B9E3 0%, #058EC1 100%); color:#fff;}
.rButObj{border-radius:3px; text-align:center; line-height:30px; height:30px; background:-moz-linear-gradient(top, #eee 0%, #ccc 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#ccc)); background: -webkit-linear-gradient(top, #eee 0%, #ccc 100%); background: -o-linear-gradient(top, #eee 0%, #ccc 100%); background: -ms-linear-gradient(top, #eee 0%, #ccc 100%); background: linear-gradient(to bottom, #eee 0%, #ccc 100%); color:#222;}
/**--表格--**/
  .tableModule{}
  .tableModule table{ border:1px solid #F2E0FA;}
  .tableModule td{border:1px solid #F2E0FA;}
  .tableModule td.tdcol{background-color:#ccc; color:#000;}

/**文章页**/
.articlePage{}
	.articleArea{background-color:#fff; border-color:#CCCCCC;}
	.articleArea .articleT{color:#7c7b7c;}
	.articleArea .tagItem{}
		.articleArea .tagItem span{color:#B5B5B5;}
		.articleArea .tagItem b{}
		.articleArea .tagItem a{color:#B5B5B5;}
	.articleArea .articleC{ color:#7c7b7c;}
/**上下按钮**/
	.prevNextBut a{border:1px solid #DEDEDE; background-image:-webkit-linear-gradient(top,#FFFFFF,#F0F0F0); background-image:-moz-linear-gradient(top,#FFFFFF,#F0F0F0); line-height:35px; padding:0px 20px; color:#5F84AF;}
	.prevNextBut a.disabled{color:#999999;}
	.prevNextBut a:not(.disabled):active{border-color:#aaa; background-image:-webkit-linear-gradient(top,#F8F8F8,#EEEEEE);}

/**面包屑导航**/
.crumbsArea{background-color:#154D80;}
.crumbs a{color:#A7B5C6;}
.crumbs a:before{border-color:#113f68 #113f68 #113f68 transparent; -webkit-filter:drop-shadow(-1px 0px 0px #1b5e9c);}
.crumbs a:after{border-color:#154D80 #154D80 #154D80 transparent;}
.crumbs a.cur{color:#fff;}
.crumbs a:active span{background-color:#113f68}
.crumbs a:active:after{border-color:#113f68 #113f68 #113f68 transparent}
.crumbs a:last-child:active span{background:none;}
.crumbs a:last-child:active:after{border-color:#154D80 #154D80 #154D80 transparent;}
/**类别分类**/
.classList li{border-bottom:1px dotted #d6d6d6;}
	.classList li span:after{border-left:1px solid #ccc;}
	.classList li span:last-child:after{display:none;}
	.classList li span a{color:#525252;}
	.classList li span a:active{background-color:#f5f5f5;}
	.classList li span:last-child{border-right:0px;}

/**列表页**/
.classListArea{border:1px solid #cdcdcd; background-color:#fff;}
.listArea{border-color:#ccc; background-color:#fff;}
.listMore a{border:1px solid #e8e8e8;color:#E9E9E9; box-shadow:1px 1px 0px #fff inset; color:#70CCFF; background-image:-webkit-linear-gradient(top,#f3f3f3,#EAEAEA); background-image:-ms-linear-gradient(top,#f3f3f3,#EAEAEA);background-image:-moz-linear-gradient(top,#f3f3f3,#EAEAEA); }

/**展示产品**/
/**产品图**/
.showPropicArea{background-color:#fff;border-bottom:1px solid #e8e8e8;}
	.proNamePrice{border-top:1px solid #e8e8e8;}
		.proNamePrice .proPrice .Nprice{color:#CC0000;}
		.proNamePrice .proPrice .Oprice{color:#7C7B7C;}
/**产品属性**/		
	.showProAttr{background-color:#fff; border:1px solid #CDCDCD;}
		.showProAttr li{color:#7c7b7c;}
/**产品信息**/		
	.showProInfo{background-color:#fff; border:1px solid #CDCDCD;}
	.showProInfo .tit{ border-bottom:1px solid #CDCDCD;}
		.showProInfo .tit strong{color:#454543;}
		.showProInfo .tit span i{border-bottom:1px solid #AEAEAE; box-shadow:-1px 1px 0px #AEAEAE,-2px 2px 0px #AEAEAE,-3px 3px 0px #AEAEAE,-4px 4px 0px #AEAEAE,-5px 5px 0px #AEAEAE,-1px -1px 0px #AEAEAE,-2px -2px 0px #AEAEAE,-3px -3px 0px #AEAEAE,-4px -4px 0px #AEAEAE,-5px -5px 0px #AEAEAE;}
		.showProInfo .con{color:#7c7b7c;}
/**产品展示操作**/	
	.listSort{border-color:#ccc;}
	.listSort .listSortInner{background-color:#f5f5f5;}
	.sortTab li{border-color:#ccc;}
	.sortTab li a{color:#333;}

/**产品详细**/
.proDetailTab{background-color:#fff;}
	.proDetailTab .tabT{border-color:#D4D3D5; background-image:-webkit-linear-gradient(top,#F8F7F9,#EBECF2); background-image:-moz-linear-gradient(top,#F8F7F9,#EBECF2); background-image:-ms-linear-gradient(top,#F8F7F9,#EBECF2); box-shadow:0px 1px 2px rgba(122,122,122,0.6);}
	.proDetailTab .tabT span a{border-right:1px solid #D4D3D5;}
	.proDetailTab .tabT span.cur {background-color:#fff;}
	.proDetailTab .tabC{color:#7c7b7c;}

/**--留言--**/
.onMessage{border:0px;}
/**--留言列表--**/
.MessageList .leftLine{background-color:#34A2C4;}
 .MessageList > h3{border-color:#34A2C4; background-color:#3BB7DB; color:#fff;}
 .MessageList > h3:after{border-color:#34A2C4; background-color:#3BB7DB;}
 .commentListItem dd > .pics small{border-color:#34A2C4;}
 .commentListItem dd > .pics span a{color:#555;}
 .commentListItem .commentCon{border-color:#6ACDEA; background-color:#fff; box-shadow:3px 3px 3px #aaa;}
 .commentListItem .commentCon:after{color:#888; opacity:0.8;}
	 .commentListItem > dd:before{ border-color:#6ACDEA #6ACDEA transparent transparent;}
	 .commentListItem > dd:after{border-color:#fff #fff transparent transparent;}
	.commentListItem .praiseAbut,.commentListItem .stampAbut{ color:#1C5D98;}
	.commentListItem .praiseAbut{background:url(images/onMessage_icon.png); background-repeat:no-repeat;}
	 .commentListItem .returnAbut{background-color:#3BB7DB;color:#1C5D98;}
	 .commentListItem .returnAbut:before{border-color:transparent #3BB7DB transparent transparent;}
	 .commentListItem .returnAbut i{background-color:#fff;}
.returnarea{border-color:#6ACDEA;}
 .returnarea:before{border-color:transparent transparent #6ACDEA;}
 .returnarea:after{border-color:transparent transparent #fff; }
 .returnList li{border-color:#6ACDEA;}
	.myMeTit{background-color:#34A2C4;}
	.myMeTit h3{color:#fff;}
	.myMeTit em.back,.myMeTit em.enter{border-color:#124371; background-color:#04759F; color:#fff; text-shadow:1px 1px 1px #000;}
	.myMeTit em.back:before{border-color:transparent #124371 transparent transparent;}
	.myMeTit em.back:after{ border-color:transparent #04759F transparent transparent;}


/*公用色系颜色*/
.this_color{ background-color: #469CB7 !important;}
.this_bo_color{ border-color:#469CB7 !important;}
.this_font_color{color:#469CB7 !important;}	