@font-face {font-family: "classifyfont";
  src: url('../icomoon/classify/iconfont.eot'); /* IE9*/
  src: url('../icomoon/classify/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../icomoon/classify/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../icomoon/classify/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../icomoon/classify/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.classifyfont {
  font-family:"classifyfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei:before { content: "\f0048"; }

.icon-fenlei1:before { content: "\e60d"; }

.icon-fenlei2:before { content: "\e66f"; }

.icon-fenlei3:before { content: "\e6af"; }

.icon-feilei:before { content: "\e600"; }

.icon-fenlei4:before { content: "\e601"; }

.icon-fenlei5:before { content: "\e610"; }

.icon-icon2:before { content: "\e602"; }

.icon-icon3:before { content: "\e603"; }

.icon-category:before { content: "\e617"; }

.icon-fenlei6:before { content: "\e67c"; }

.icon-fenlei7:before { content: "\e638"; }

