@font-face {font-family: "helpfont";
  src: url('../icomoon/help/iconfont.eot'); /* IE9*/
  src: url('../icomoon/help/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../icomoon/help/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../icomoon/help/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../icomoon/help/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.helpfont {
  font-family:"helpfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bangzhu:before { content: "\f0143"; }

.icon-bangzhu1:before { content: "\f005a"; }

.icon-tubiao:before { content: "\e61b"; }

.icon-help:before { content: "\e612"; }

.icon-bangzhu2:before { content: "\e64a"; }

.icon-jinlingyingcaiwangtubiao35:before { content: "\e746"; }

.icon-bangzhu3:before { content: "\e628"; }

.icon-bangzhu-copy:before { content: "\e604"; }

.icon-bangzhu4:before { content: "\e643"; }

.icon-bangzhu5:before { content: "\e613"; }

