@font-face {font-family: "indexfont";
  src: url('../icomoon/index/iconfont.eot'); /* IE9*/
  src: url('../icomoon/index/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../icomoon/index/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../icomoon/index/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../icomoon/index/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.indexfont {
 font-family:"indexfont" !important;
 font-size:20px;
 font-style:normal;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}  

.icon-shouye:before { content: "\f005d"; }

.icon-msnui-home-inverse:before { content: "\e63e"; }

.icon-icon61:before { content: "\e63f"; }

.icon-icon03:before { content: "\e603"; }

.icon-shouye1:before { content: "\e661"; }

.icon-shouye2:before { content: "\e60c"; }

.icon-shouye3:before { content: "\e607"; }

.icon-shouye4:before { content: "\e677"; }

.icon-111111102:before { content: "\e68d"; }

.icon-home:before { content: "\e669"; }

.icon-shouye5:before { content: "\e668"; }

.icon-shouye6:before { content: "\e751"; }

.icon-shouye7:before { content: "\e629"; }

.icon-shouye8:before { content: "\e688"; }

.icon-home1:before { content: "\e602"; }

.icon-shouye9:before { content: "\e605"; }

.icon-shouye-copy:before { content: "\e64e"; }

.icon-shouye-copy1:before { content: "\e600"; }

.icon-shouye10:before { content: "\e690"; }

.icon-shouye11:before { content: "\e884"; }

.icon-shouye12:before { content: "\e65f"; }

.icon-shouye13:before { content: "\e684"; }

.icon-shouye-shouye:before { content: "\e685"; }

.icon-shouye2-copy-copy:before { content: "\e502"; }

.icon-shouye-copy2:before { content: "\e604"; }

