@font-face {font-family: "shopsfont";
  src: url('../icomoon/shops/iconfont.eot'); /* IE9*/
  src: url('../icomoon/shops/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../icomoon/shops/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../icomoon/shops/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../icomoon/shops/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.shopsfont {
  font-family:"shopsfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianpu:before { content: "\354b"; }

.icon-dianpu1:before { content: "\e645"; }

.icon-dianpu2:before { content: "\e647"; }

.icon-dianpu3:before { content: "\e7df"; }

.icon-kaitongdianpu:before { content: "\e61f"; }

.icon-dianicon:before { content: "\e609"; }

.icon-dianpu4:before { content: "\e805"; }

.icon-dianpu-copy:before { content: "\e600"; }

.icon-dian:before { content: "\e668"; }

.icon-dianpu5:before { content: "\e608"; }

.icon-dianpu6:before { content: "\e65f"; }

.icon-dianpu7:before { content: "\e622"; }

.icon-dianpu8:before { content: "\e669"; }

.icon-dianpu9:before { content: "\e70c"; }

.icon-dianpu1-copy:before { content: "\e619"; }

.icon-dianpu10:before { content: "\e604"; }

