@font-face {font-family: "telfont";
  src: url('../icomoon/tel/iconfont.eot'); /* IE9*/
  src: url('../icomoon/tel/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../icomoon/tel/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../icomoon/tel/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../icomoon/tel/iconfont.svg') format('svg'); /* iOS 4.1- */
}


.telfont {
  font-family:"telfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before { content: "\e67e"; }

.icon-09:before { content: "\e609"; }

.icon-phone:before { content: "\e622"; }

.icon-brand:before { content: "\e608"; }

.icon-peiziiconfont08:before { content: "\e60c"; }

.icon-dianhua1:before { content: "\e61d"; }

.icon-dianhua2:before { content: "\e626"; }

.icon-index-phone:before { content: "\e623"; }

.icon-help-tel:before { content: "\e638"; }

.icon-dianhua3:before { content: "\e6ab"; }

.icon-icon01:before { content: "\e600"; }

.icon-dianhua4:before { content: "\e601"; }

.icon-dianhua5:before { content: "\e6c9"; }

.icon-dh:before { content: "\e60d"; }

.icon-dianhua6:before { content: "\e614"; }

.icon-dianhua7:before { content: "\e65e"; }

.icon-dianhua8:before { content: "\e605"; }

.icon-unie607:before { content: "\e657"; }

.icon-z-tel:before { content: "\e6aa"; }

.icon-dianhua9:before { content: "\e778"; }

.icon-dianhua-copy:before { content: "\e602"; }

.icon-dianhua21:before { content: "\e603"; }

.icon-dianhua10:before { content: "\e624"; }

.icon-dianhua11:before { content: "\e63e"; }

