@font-face {font-family: "tgfont";
  src: url('../icomoon/tg/iconfont.eot'); /* IE9*/
  src: url('../icomoon/tg/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../icomoon/tg/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../icomoon/tg/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../icomoon/tg/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.tgfont {
  font-family:"tgfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuangou:before { content: "\e66a"; }

.icon-wodetuangou:before { content: "\e651"; }

.icon-tuangouline:before { content: "\e66b"; }

.icon-tuangou1:before { content: "\e66d"; }

.icon-tuangou2:before { content: "\e635"; }

.icon-klmpintuan:before { content: "\e643"; }

.icon-tuangoub:before { content: "\e782"; }

.icon-pin:before { content: "\e716"; }

.icon-iconfonttuan:before { content: "\e61f"; }

.icon-tuangou3:before { content: "\e698"; }

.icon-pintuan:before { content: "\e6bf"; }

.icon-tuangou4:before { content: "\e631"; }

.icon-tuangou5:before { content: "\e61c"; }

.icon-wodepintuan:before { content: "\e607"; }

.icon-tubiaodalibao-01:before { content: "\e608"; }

.icon-pcpintuan:before { content: "\e67a"; }

.icon-tuangou6:before { content: "\e668"; }

.icon-tuangou-xianxing:before { content: "\e638"; }

.icon-zhuoyou-tuangou:before { content: "\ea16"; }

