<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<link href="$!{basePath}/plug-in/plugin/hplus/css/style.css" type="text/css" rel="stylesheet"/>
<link href="$!{basePath}/plug-in/plugin/hplus/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
				<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/weixin/back/weixinReceivetext/list.do')"><span class="glyphicon glyphicon-circle-arrow-left"></span> 返回</button>
				</div>
				  	<div class="panel-body">
				   		<form class="form-horizontal" role="form">
							  <fieldset disabled>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">消息内容</label>
													    <div class="col-sm-11">
													      <textarea  name="content" id="content" class="form-control" >$!{weixinReceivetext.content}</textarea>
													    </div>
													  </div>
													  
													  
													  <div class="form-group mno">
													  	<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">发送方帐号</label>
													    <div class="col-sm-4">
													      <input type="text" value="$!{weixinReceivetext.fromUserName}" name="fromUserName" id="fromUserName" class="form-control" />
													    </div>
													    
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">创建日期</label>
													    <div class="col-sm-4">
													      <input type="text" value="$!dateTool.format("yyyy-MM-dd",$!{weixinReceivetext.createTime})" name="createTime" id="createTime" class="form-control" />
													    </div>
													    
													  
													  </div>
													 <div class="form-group mno">
													 	<label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">消息类型</label>
													    <div class="col-sm-3">
													      <input type="text" value="$!{weixinReceivetext.msgType}" name="msgType" id="msgType" class="form-control" />
													    </div>
													    
													 	<label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">JWID</label>
													    <div class="col-sm-3">
													      <input type="text" value="$!{weixinReceivetext.toUserName}" name="toUserName" id="toUserName" class="form-control" />
													    </div>
													    
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">多媒体ID</label>
													    <div class="col-sm-3">
													      <input type="text" value="$!{weixinReceivetext.mediaId}" name="mediaId" id="mediaId" class="form-control" />
													    </div>
													  </div>
							  </fieldset>
						</form>
					</div>
			</div>
		</div>
	</div>
</body>
</html>