<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<link href="$!{basePath}/plug-in/plugin/hplus/css/style.css" type="text/css" rel="stylesheet"/>
<link href="$!{basePath}/plug-in/plugin/hplus/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
	        	<button type="button" class="btn btn-primary" id="formSubmit" onclick="beforesubmit()"><span class="glyphicon glyphicon-ok"></span> 保存</button>
				<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/weixin/back/weixinTexttemplate/list.do')"><span class="glyphicon glyphicon-circle-arrow-left"></span> 返回</button>
				</div>
					<div class="panel-body">
						<form class="form-horizontal" role="form" id="dailogForm" action="$!{basePath}/weixin/back/weixinTexttemplate/doAdd.do" method="POST">
					  		<input type="hidden" id="btn_sub" class="btn_sub" />
								<div class="form-group mno">
								    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">文本名称</label>
								    <div class="col-sm-6">
								      <input type="text" value="$!{weixinTexttemplate.templateName}" name="templateName" id="templateName" class="form-control" datatype="*"/>
								    </div>
								</div>
								<div class="form-group mno">
								    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">文本内容</label>
								    <div class="col-sm-6">
									  <textarea rows="7" cols="60" name="templateContent" id="templateContent" class="form-control" datatype="*"></textarea>
									  <a href="javascript:insertText(document.getElementById('templateContent'),'0')"><i class="fa fa-link"></i> 插入超链接</a>&nbsp;&nbsp;
									  <a href="javascript:insertText(document.getElementById('templateContent'),'1')"><i class="fa fa-link"></i> 插入小程序链接</a>
									</div>
								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="$!{basePath}/plug-in/js/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="$!{basePath}/plug-in/js/forminit.p3.js"></script> 
<script >
//插入超链接文本
function insertText(obj,textFlag) {
	var str="<a href='http://超链接地址'>链接说明</a>";
	if(textFlag=='1'){
		str="<a class='weapp_text_link' data-miniprogram-appid='小程序appid' data-miniprogram-path='pages/home' data-miniprogram-nickname='小程序名称' href='#'>点我进入小程序</a>"
	}
    if (document.selection) {
        var sel = document.selection.createRange();
        sel.text = str;
    } else if (typeof obj.selectionStart === 'number' && typeof obj.selectionEnd === 'number') {
        var startPos = obj.selectionStart,
            endPos = obj.selectionEnd,
            cursorPos = startPos,
            tmpStr = obj.value;
        obj.value = tmpStr.substring(0, startPos) + str + tmpStr.substring(endPos, tmpStr.length);
        cursorPos += str.length;
        obj.selectionStart = obj.selectionEnd = cursorPos;
    } else {
        obj.value += str;
    }
}

//提交表单前，清除所有input包含空格的值
function beforesubmit(){
	$('input[type=text]').each(function(){
		$(this).val($(this).val().replace(/\s/g,""));
    })
}
</script>