#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<link href="$!{basePath}/plug-in/plugin/hplus/css/style.css" type="text/css" rel="stylesheet"/>
<link href="$!{basePath}/plug-in/plugin/hplus/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/weixin/back/weixinAutoresponseDefault/list.do" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
								<div class="panel panel-default">
								  <div class="panel-heading">未识别回复语</div>
								  <div class="panel-body">
								  		<div class="search">
															 <div class="form-group col-sm-3">
															    <label for="templateName" class="control-label col-sm-3 line34">素材名称</label>
															     <div class="col-sm-8">
															    <input type="text" name="templateName" id="templateName" value="$!{weixinAutoresponseDefault.templateName}" class="form-control">
															  	</div>
															 </div>
											  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> 搜  索</button>
											  <div class="clearfix"></div>
								  		</div>
								  		<div id="legend">
								          <legend  class="le"><button type="button" class="btn btn-primary" onclick="doUrl('$!{basePath}/weixin/back/weixinAutoresponseDefault/toAdd.do')" ><span class="glyphicon glyphicon-plus"></span> 新增</button></legend> 
								        </div>
								        <table class="table table-striped">
									        <thead>
									        		<th width="80px">
									        		 <input type="checkbox" name="ckAll" id="ckAll"  />全选
									        		</th>
													<th>微信触发类型</th>
													<th>回复消息类型</th>
													<th>回复素材名称</th>
													<th>创建时间</th>
						                			<th>操作</th>
									        </thead>
									        <tobody>
									    	  #if($!{pageInfos})
								                #foreach($!{info} in $!{pageInfos})
									            	<tr>		
									            		<td><input type="checkbox" name="ck" value="$!{info.id}" /></td>
									            		#if($!{info.msgTriggerType} == 'text')
															<td>文本</td>
									            		#elseif($!{info.msgTriggerType} == 'link')
															<td>链接</td>
									            		#elseif($!{info.msgTriggerType} == 'voice')
															<td>语音</td>
									            		#elseif($!{info.msgTriggerType} == 'video')
															<td>视频</td>
									            		#elseif($!{info.msgTriggerType} == 'shortvideo')
															<td>小视频</td>
									            		#elseif($!{info.msgTriggerType} == 'image')
															<td>图片</td>
									            		#end
									            		
									            		#if($!{info.msgType} == 'text')
															<td>文本消息</td>
														#elseif($!{info.msgType} == 'news')
															<td>图文消息</td>
														#elseif($!{info.msgType} == 'voice')
															<td>音频消息</td>
														#elseif($!{info.msgType} == 'video')
															<td>视频消息</td>
														#elseif($!{info.msgType} == 'image')
															<td>图片消息</td>
														#end
														<td>$!{info.templateName}</td>
														<td>$!dateTool.format("yyyy-MM-dd",$!{info.createTime})</td>
										                <td class="last">
							                			<a class="btn btn-xs btn-primary" href="javascript:doUrl('$!{basePath}/weixin/back/weixinAutoresponseDefault/toEdit.do?id=$!{info.id}')" ><i class="fa fa-edit"></i> 编辑</a>
							                			<a class="btn btn-xs btn-danger" href="javascript:delData('$!{basePath}/weixin/back/weixinAutoresponseDefault/doDelete.do?id=$!{info.id}')"><i class="fa fa-trash-o"></i> 删除</a>
							                			<a class="btn btn-xs btn-info" href="javascript:void(0);" onclick="showModal('$!{info.msgType}','$!{info.templateId}')"><i class="fa fa-search"></i> 预览</a>
						                				</td>
									           		</tr>
									             #end
									    	 #end
									         </tobody>
									    </table>
										<div class="text-right">
											<!--公用翻页代码-->
							                #set($attr='formSubmit')
							            	#showPageList($pageInfos $attr)
							                <!--END公用翻页代码-->
										</div>
								  </div>	
								</div>
				</div>  
				</form>
		</div>
	</div>
	<button  data-toggle="modal" data-target="#myModal" id="myModalButton" style="display:none"></button>
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						预览
					</h4>
				</div>
				<div class="modal-body" id="modalContent">
					在这里添加一些文本
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
<input type="hidden" id="basePath" value="$!{basePath}">
</body>
</html>
<script type="text/javascript" src="$!{basePath}/content/weixin/js/checkPermission.js"></script> 
<script>
$("#ckAll").click(function(){ 
	if($(this).prop("checked")){ 
	 $(":checkbox").prop("checked",true) 
	}else{ 
	$(":checkbox").prop("checked",false)  
	} 
}); 

//jquery获取复选框值    
function getCkValue(){  
  var chk_value =[];    
  $('input[name="ck"]:checked').each(function(){    
   chk_value.push($(this).val());    
  });    
  //alert(chk_value.length==0 ?'你还没有选择任何内容！':chk_value);    
}    

//弹出模态窗口
function showModal(msgType,templateId) {
	if(!msgType && !templateId) {
		alert("消息类型或模板ID为空,请验证数据是否正确");
		return false;
	}
	jQuery.ajax({
    	url:"$!{basePath}/weixin/back/weixinCommon/showMoalMessage.do",
    	type:"POST",
    	dataType: "json",
    	data:{
    		msgType:msgType,
    		templateId:templateId
    	},
		success:function(data){
			if("text" == msgType) {
				$("#modalContent").html(data.obj);
			} else if("news" == msgType) {
				var html = "<iframe scrolling=\"yes\" id=\"showframe\" src=\"\" frameborder=\"0\" style=\"width:100%;height:320px;\"></iframe></div>";
				$("#modalContent").html(html);
				var  url = '$!{basePath}/weixin/back/weixinCommon/goMessage.do?newstemplateId='+data.obj;
				$("#showframe").attr("src",url);
			}
			$("#myModalButton").click();
		},
		error:function(data) {
			alert(data.msg);
		}
	});
}

</script>