<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<link href="$!{basePath}/plug-in/plugin/hplus/css/style.css" type="text/css" rel="stylesheet"/>
<link href="$!{basePath}/plug-in/plugin/hplus/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<link href="$!{basePath}/plug-in/plugin/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
<script type="text/javascript" src="$!{basePath}/plug-in/plugin/hplus/js/plugins/iCheck/icheck.min.js"></script>
<link href="$!{basePath}/content/system/css/zTreeStyle/zTreeStyle.css$!{version}" rel="stylesheet" type="text/css" />
<script src="$!{basePath}/content/cms/plugin/colorSelector/jquery.minicolors.js"></script>
<link   rel="stylesheet" href="$!{basePath}/content/cms/plugin/colorSelector/jquery.minicolors.css">
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">编辑</div>
				<div class="panel-heading">
    	        	<button type="button" class="btn btn-primary" id="formSubmit"><span class="glyphicon glyphicon-ok"></span> 保存</button>
    				<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/cms/back/cmsMenu/list.do?mainId=$!{mainId}')"><span class="glyphicon glyphicon-circle-arrow-left"></span> 返回</button>
    			</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" id="dailogForm" action="$!{basePath}/cms/back/cmsMenu/doEdit.do" method="POST">
						<input type="hidden" id="btn_sub" class="btn_sub" />
						<input type="hidden" id="mainId" name="mainId" value="$!{mainId}"/>
						<input type="hidden" value="$!{cmsMenu.id}" name="id" id="id" />
						<div class="form-group mno">
							<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">名称</label>
							<div class="col-sm-8">
								<input type="text" value="$!{cmsMenu.name}" name="name" id="name" class="form-control" />
							</div>
						</div>
						
						<div class="form-group mno">
							<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">上级栏目</label>
							<div class="col-sm-8">
								<input type="text" value="" id="parentCode" readonly class="form-control" onclick="showMenu();"/>
								<input type="hidden"  value="$!{cmsMenu.parentCode}" name="parentCode" id="pId" />
							</div>
						</div>
						
						<div class="form-group mno">
							<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">类型</label>
							<div class="col-sm-8 i-checks">
								<label class="radio-inline i-checks">
									<input type="radio" name="type" value="link" #if($!cmsMenu.type=='link') checked #end>链接
								</label>
								<label class="radio-inline i-checks">
									<input type="radio" name="type" value="coulmn" #if($!cmsMenu.type=='coulmn') checked #end>栏目
								</label>
							</div>
						</div>
						
						<div class="form-group mno">
							<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">是否显示</label>
							<div class="col-sm-8 i-checks">
								<label class="radio-inline i-checks">
									<input type="radio" name="isShow" value="1" #if($!cmsMenu.isShow=='1') checked #end>是
								</label>
								<label class="radio-inline i-checks">
									<input type="radio" name="isShow" value="0" #if($!cmsMenu.isShow=='0') checked #end>否
								</label>
							</div>
						</div>
						
						<div class="form-group mno">
							<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">栏目背景颜色</label>
							<div class="col-sm-8">
								<input type="text" id="colorBckColor" placeholder="请选择颜色亦可以编写颜色代码" style="height:35px;width:290px;" value="$!{cmsMenu.colorBckColor}" name="colorBckColor"class="form-control" data-control="hue" value="#ff6161">
							</div>
						</div>						
											
						<div class="form-group mno" id="href_div">
								<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">链接(小程序)</label>
								<div class="col-sm-8">
									<input type="text" value="$!{cmsMenu.href}" name="href" id="href" class="form-control" />
								</div>
						</div>
						
						<div class="form-group mno" id="htmlHref_div">
								<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">链接(H5)</label>
								<div class="col-sm-8">
									<input type="text" value="$!{cmsMenu.htmlLink}" name="htmlLink" id="htmlLink" class="form-control" />
								</div>
							</div>
						
						<div class="form-group mno">
							<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">图片地址</label>
							<div class="col-sm-8">
								<div class="input-group">
									<input id = "baseUrl" value = "$!{basePath}" type="hidden"/>
		        					<input type="text" placeholder="请选择图片" readonly="readonly" value="$!{cmsMenu.imageHref}" name="imageHref" id="thisFormImg" class="form-control" data-filetype="ad"/>
		        					<div class="input-group-btn">
		        						<button type="button" id="delThisImg" class="btn btn-default" aria-label="Help" data-tip="图片已删除,请重新上传">
		        							<span class="glyphicon glyphicon-trash"></span> 删除
		        						</button>
		        						<button type="button" id="choseThisImg" class="btn btn-default" aria-label="Help">
		        							<span class="glyphicon glyphicon-folder-open"></span> 选择文件
		        						</button>
		                            </div>
		        				</div>
		        				<div class="progress" style="display:none" id="progressThisImg">
		        					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 1%;">
		                              0
		                            </div>
		                       </div>
								   
							   #if("$!cmsMenu.imageHref"=="")
								<div id="pic_view_div" style="display:none;margin-top: 6px;">
							   #else
								<div id="pic_view_div" style="margin-top: 6px;">
		        			   #end	
									<img src="$!{basePath}/upload/img/cms/$!{cmsMenu.imageHref}" height="180"/>
		        				</div>
							</div>
						</div>
						
						
						<div class="form-group mno">
								<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">排序</label>
								<div class="col-sm-8">
									<input type="text" value="$!{cmsMenu.serialNumber}" name="serialNumber" id="serialNumber" class="form-control" />
								</div>
						</div>
							
						<div class="form-group mno">
							<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">描述</label>
							<div class="col-sm-8">
								<textarea name="content" id="content" style="height:70px" class="form-control">$!{cmsMenu.content}</textarea>
							</div>
						</div>
						
						<div class="form-group mno">
    						<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">模版路径</label>
    						<div class="col-sm-8">
    							<input type="text" value="$!{cmsMenu.templateCode}" name="templateCode" id="templateCode" class="form-control" />
    							说明：默认为空非必填，个性化模板定义
    						</div>
    					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="menuContent" class="menuContent" style="display:none; position: absolute;">
		<ul id="treeDemo" class="ztree" style="margin-top:0; width:160px;"></ul>
	</div>
</body>
</html>
<script type="text/javascript" src="$!{basePath}/content/system/js/zTree/jquery.ztree.core.js$!{version}"></script>
<script type="text/javascript" src="$!{basePath}/content/system/js/zTree/jquery.ztree.excheck.js$!{version}"></script>
<script type="text/javascript" src="$!{basePath}/content/system/js/zTree/jquery.ztree.exedit.js$!{version}"></script>
<script type="text/javascript" src="$!{basePath}/content/cms/plugin/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="$!{basePath}/content/cms/plugin/plupload/cms.img.js"></script>
<script type="text/javascript" src="$!{basePath}/plug-in/js/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="$!{basePath}/plug-in/js/forminit.p3.js"></script> 
<script type="text/javascript">

	$(document).ready(function () {
	    $('.i-checks').iCheck({
	        checkboxClass: 'icheckbox_square-green',
	        radioClass: 'iradio_square-green',
	    });
	    changeType();
	    $("input:radio[name='type']").on('ifChecked', function(event){
	    	changeType();
		});
	});
	<!-- 颜色选择 -->
	$('#colorBckColor').each(function ()
		    {
		        $(this).minicolors(
		        {
		            control: $(this).attr('data-control') || 'hue',
		            defaultValue: $(this).attr('data-defaultValue') || '',
		            inline: $(this).attr('data-inline') === 'true',
		            letterCase: $(this).attr('data-letterCase') || 'lowercase',
		            opacity: $(this).attr('data-opacity'),
		            position: $(this).attr('data-position') || 'bottom left',
		            change: function (hex, opacity)
		            {
		                var log;
		                try
		                {
		                    log = hex ? hex : 'transparent';
		                    if (opacity)
		                        log += ', ' + opacity;
		                  
		                }
		                catch (e)
		                {}
		            },
		            theme: 'default'
		        }
		        );
		    }
		    );
	
	
	function changeType() {
		var type = $("input:radio[name='type']:checked").val();
	    if(type == 'link'){
        	$("#href_div").show();
        	$("#htmlHref_div").show();
        }else{
        	$("#href_div").hide();
        	$("#href").val("");
        	$("#htmlHref_div").hide();
        	$("#htmlLink").val("");
        }
	}
    var IDMark_A = "_a";
    
    function showMenu() {
    var cityObj = jQuery("#parentCode");
    var cityOffset = jQuery("#parentCode").offset();
       if($("#menuContent").is(':hidden')){
         jQuery("#menuContent").css({left:cityOffset.left + "px", top:cityOffset.top + cityObj.outerHeight() + "px"}).slideDown("fast");
    	}else{
    	  jQuery("#menuContent").fadeOut("fast");
    	}
        jQuery("body").bind("mousedown", onBodyDown);
    }
    function hideMenu() {
    	jQuery("#menuContent").fadeOut("fast");
    	jQuery("body").unbind("mousedown", onBodyDown);
    }
    function onBodyDown(event) {
    	if (!(event.target.id == "parentCode" || event.target.id == "menuContent" || jQuery(event.target).parents("#menuContent").length>0)) {
    		hideMenu();
    	}
    }
    var setting = {
		check: {
			enable: true,
			chkStyle: "radio",
			radioType: "all"
		},
		view: {
		    addHoverDom: addHoverDom,
			removeHoverDom: removeHoverDom,
			dblClickExpand: false
		},
		data: {
			simpleData: {
				enable: true,
				idKey: "id",
				pIdKey: "parentCode",
				rootPId: null
			}
		},
		callback: {
			onClick: onClick,
			onCheck: onCheck
		}
	};
    function onClick(e, treeId, treeNode) {
		var tree = zTree.getZTreeObj("treeDemo");
    	tree.checkNode(treeNode, !treeNode.checked, null, true);
    	return false;
    }
    function onCheck(e, treeId, treeNode) {
    	var tree = zTree.getZTreeObj("treeDemo"),
    	nodes = tree.getCheckedNodes(true),
    	v = "",vid = "";
    	for (var i=0, l=nodes.length; i<l; i++) {
    		v += nodes[i].name + ",";
    		vid += nodes[i].id + ",";
    	}
    	if (v.length > 0 ) v = v.substring(0, v.length-1);
    	if (vid.length > 0 ) vid = vid.substring(0, vid.length-1);
    	jQuery("#parentCode").val(v);
    	jQuery("#pId").val(vid);
    }
    function addHoverDom(treeId, treeNode) {
    	if (treeNode.parentNode && treeNode.parentNode.id!=1) return;
    	var aObj = jQuery("#" + treeNode.tId + IDMark_A);
    		if (jQuery("#diyBtn_"+treeNode.id).length>0) return;
    		var editStr = "<span id='diyBtn_" +treeNode.id+ "'>编码:"+treeNode.id+"</span>";
    		aObj.after(editStr);
    }
    function removeHoverDom(treeId, treeNode) {
    		jQuery("#diyBtn_"+treeNode.id).unbind().remove();
    		jQuery("#diyBtn_space_" +treeNode.id).unbind().remove();
    }
    var zNodes;
    jQuery(document).ready(function(){
    	jQuery.ajax({  
    	        async : false,  
    	        cache:false,  
    	        type: 'POST',  
    	        dataType : "json",  
    	        url: '$!{basePath}/cms/back/cmsMenu/tree.do?mainId=$!{mainId}',//请求的action路径 
    	        error: function () {//请求失败处理函数  
    	            alert('请求失败');  
    	        },  
    	        success:function(data){ //请求成功后处理函数。    
    	            zNodes = data;   //把后台封装好的简单Json格式赋给zNodes  
    	        }  
    	    });  
    	zTree.init(jQuery("#treeDemo"), setting, zNodes);
    	var node = zTree.getZTreeObj("treeDemo").getNodeByParam("id", jQuery("#pId").val());
		//update-begin-Author:LiShaoQing date:20180514 for:解决父级初始化报错影响类型初始化问题----
		if(!!node) {
        	jQuery("#parentCode").val(node.name);
		}
		//update-begin-Author:LiShaoQing date:20180514 for:解决父级初始化报错影响类型初始化问题----
    });
</script>

