<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<link href="$!{basePath}/plug-in/plugin/hplus/css/style.css" type="text/css" rel="stylesheet"/>
<link href="$!{basePath}/plug-in/plugin/hplus/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
	        	<button type="button" class="btn btn-primary" id="formSubmit" onclick="beforesubmit()"><span class="glyphicon glyphicon-ok"></span> 保存</button>
				<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/weixin/back/weixinAutoresponse/list.do')"><span class="glyphicon glyphicon-circle-arrow-left"></span> 返回</button>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" id="dailogForm" action="$!{basePath}/weixin/back/weixinAutoresponse/doEdit.do" method="POST">
						<input type="hidden" id="btn_sub" class="btn_sub" />
						<input type="hidden" value="$!{weixinAutoresponse.id}" name="id" id="id" />
						<div class="form-group mno">
						    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">关键字</label>
						    <div class="col-sm-4">
						      <input type="text" value="$!{weixinAutoresponse.keyword}" name="keyword" id="keyword" class="form-control" datatype="*"/>
						      <label style="color:#999;font-size:12px;">多个关键字以逗号隔开</label>
						    </div>
						</div>
						
						<div class="form-group mno">
							<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">关键字类型</label>
						    <div class="col-sm-4">
						      <select name="keywordType" id="keywordType" class="form-control">
						      		<option value="1" #if($!{weixinAutoresponse.keywordType} == 1) selected #end>全匹配</option>
						      		<option value="2" #if($!{weixinAutoresponse.keywordType} == 2) selected #end>模糊匹配</option>
						      </select>
						      <label id="keywordTypeLabel" style="color:#999;font-size:12px;"></label>
						    </div>
						</div>
						
						<div class="form-group mno">
						    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">消息类型</label>
						    <div class="col-sm-4">
						      <select name="msgType" id="msgType" class="form-control">
						    		<option value="text" #if($!{weixinAutoresponse.msgType} == 'text') selected #end>文本消息</option>
						    		<option value="news" #if($!{weixinAutoresponse.msgType} == 'news') selected #end>图文消息</option>
						    		<!-- <option value="voice" #if($!{weixinAutoresponse.msgType} == 'voice') selected #end>音频消息</option>
						    		<option value="video" #if($!{weixinAutoresponse.msgType} == 'video') selected #end>视频消息</option>
						    		<option value="image" #if($!{weixinAutoresponse.msgType} == 'image') selected #end>图片消息</option> -->
						     </select>
						    </div>
						</div>
						
						<div class="form-group mno">
							<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">素材名称</label>
						    <div class="col-sm-4">
						      <select name="templateId" id="templateId" class="form-control" value="$!{weixinAutoresponse.templateId}"  datatype="*">
                              </select>
						    </div>
						</div>
						
						<input type="hidden" name="templateName" id="templateName" class="form-control" value="$!{weixinAutoresponse.templateName}"/>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="$!{basePath}/plug-in/js/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="$!{basePath}/plug-in/js/forminit.p3.js"></script>  
<script type="text/javascript">
$(function(){
	var msgType= $("#msgType").val();
	getsucaiList(msgType);
	
	keyWorkTypeChange();
});

function keyWorkTypeChange() {
	if($("#keywordType").children('option:selected').val() == 1) {
		$("#keywordTypeLabel").html("发送内容与关键字完全一致才会触发回复，比如设置“123”，仅回复“123”才会触发");
	} else {
		$("#keywordTypeLabel").html("发送内容包含关键字就会触发回复，比如设置“123”，回复“1234”或“0123”都会触发回复");
	}
}

//切换关键字类型,修改提示字符串
$("#keywordType").change(function(){
	keyWorkTypeChange();
});

//切换素材类型
$("#msgType").change(function(){
	msgType=$(this).children('option:selected').val();
	getsucaiList(msgType);
});

//获取素材信息
function getsucaiList(msgType){
	var templateId = '$!{weixinAutoresponse.templateId}';
	jQuery.ajax({
		url:'$!{basePath}/weixin/back/weixinCommon/getsucaiList.do',
		type:'post',
		dataType:'json',
		data:{msgType:msgType},
		success:function(data){
			html="";
			jQuery(data.obj).each(function(index,element){
				if(templateId==element.id){
					html+="<option value='" +element.id+ "' selected>"+element.templateName+ "</option>"
				} else {
					html+="<option value='" +element.id+ "'>"+element.templateName+ "</option>"
				}
			});
			$("#templateId").html(html);
			$("#templateName").val($("#templateId").children('option:selected').text());
		},
		error:function(data){
			alert(data.msg); 
		}
	})
}

//选中模板信息获取模板ID
$("#templateId").change(function(){
	$("#templateName").val($(this).children('option:selected').text());
});

//提交表单前，清除所有input包含空格的值
function beforesubmit(){
	$('input[type=text]').each(function(){
		$(this).val($(this).val().replace(/\s/g,""));
    })
}
</script>