@-webkit-keyframes bottomBtnAms {
	0% {-webkit-transform: translateY(-10px) rotate(90deg);opacity:1;}
	50% {-webkit-transform: translateY(10px) rotate(90deg);opacity:0;}
	100%{-webkit-transform: translateY(-10px) rotate(90deg);opacity:0;}
}
@-moz-keyframes bottomBtnAms {
	0%,100% {-moz-transform: translateY(-10px) rotate(90deg);opacity:1;}
	50% {-moz-transform: translateY(10px) rotate(90deg);opacity:0;}
}
@keyframes bottomBtnAms {
	0%,100% {-moz-transform: translateY(-10px) rotate(90deg);opacity:1;}
	50% {-moz-transform: translateY(10px) rotate(90deg);opacity:0;}
}
@-webkit-keyframes rotateAms {
	0%{-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotateAms {
	0%{-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
}
@keyframes rotateAms {
	0%{transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

body{margin:0;}
.musicIcon{position:absolute; left:10px; top:60px; width:30px; height:30px; border:1px solid rgba(255,255,255,0.8); z-index:100; border-radius: 15px; text-align: center;}
.musicIcon img{width:20px; margin-top:5px;}
.musicOn{
	-webkit-animation: rotateAms 4s infinite linear;
	-moz-animation: rotateAms 4s infinite linear;
	-o-animation: rotateAms 4s infinite linear;
	animation: rotateAms 4s infinite linear;

	}
.homeIcon{position:absolute; left:10px; top:20px; width:30px; height:30px; border:1px solid rgba(255,255,255,0.8); z-index:100; border-radius: 15px; text-align: center;}
.homeIcon img{width:20px; margin-top:5px;}
.welcome-warp{position:relative; overflow:hidden;}
	.welcome-warp .wel-pic-list{overflow: hidden; width:320px; height:400px;}
	.welcome-warp ul:after,.welcome-warp ul:before{content: ""; display: table;}
		.welcome-warp .wel-pic-list	ul{padding:0; margin:0;}
		.welcome-warp .wel-pic-list li{overflow:hidden; text-align:center; float:left; position:relative;}
		.welcome-warp .wel-pic-list li img{width:100%; vertical-align: top;}
	.welcome-warp .wel-pic-controls{text-align:center; position:absolute; bottom:10px; left:0px; width:100%; z-index:20; height:10px;}
		.welcome-warp .wel-pic-controls span{display:inline-block; width:10px; height:10px; overflow: hidden; background-color:#fff; border-radius: 5px; margin:0px 5px ;}
	.welcome-warp .wel-pic-controls-s{top:20px; right: 20px; left:auto; bottom:auto; width:10px; height:auto;}
		.welcome-warp .wel-pic-controls-s span{margin-bottom:10px;}
		.welcome-warp .wel-pic-controls span.cur{background-color:orange;}
	.welcome-warp .b{position:absolute; background-color:rgba(255,255,255,0); width:100%; bottom:0px; left:0px; height:30px; text-align: center; display:none;}
	.welcome-warp .b-b::after{position:absolute; top:-30px; content:"\00BB"; font-size:60px; color:#fff; font-style: normal; margin-left:-15px; left:50%;
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
		-o-transform:rotate(90deg);
		transform:rotate(90deg);
		-webkit-animation:bottomBtnAms 3s infinite ease-in-out;
		-moz-animation:bottomBtnAms 3s infinite ease-in-out;
		-o-animation:bottomBtnAms 3s infinite ease-in-out;
		animation:bottomBtnAms 3s infinite ease-in-out;
		}
	.welcome-warp .into-web{position:absolute; line-height:50px; background-color:rgba(255, 255, 255, 0.8); color:#555; font:18px/50px 'Î¢ÈíÑÅºÚ'; box-shadow: 1px 1px 2px #888; left:50%; bottom:50px; margin-left:-85px; border-radius: 6px; width:170px; height:50px; text-align:center; overflow: hidden;text-decoration:none;}
	.welcome-warp .into-web img{width:170px; height:50px;}
