#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<link href="$!{basePath}/plug-in/plugin/hplus/css/style.css" type="text/css" rel="stylesheet"/>
<link href="$!{basePath}/plug-in/plugin/hplus/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<link href="$!{basePath}/content/system/css/treetable/default/treeTable.css" rel="stylesheet" type="text/css" />
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/cms/back/cmsMenu/list.do?mainId=$!{mainId}" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
					<div class="panel panel-default">
						<div class="panel-heading">栏目</div>
						<!-- <div class="panel-heading" style="34px">
							<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/cms/back/cmsSite/list.do')"><span class="glyphicon glyphicon-circle-arrow-left"></span> 返回</button>
							<div style="clear:both;height:1px"></div>
						</div> -->
						<div class="panel-body">
							<!-- <div class="search"></div> -->
							<div id="legend">
								<legend class="le"><button type="button" class="btn btn-primary" onclick="doUrl('$!{basePath}/cms/back/cmsMenu/toAdd.do?mainId=$!{mainId}')" ><i class="fa fa-plus"></i> 新增</button></legend>
							</div>
							<table class="table table-striped table-hover table-condensed table-bordered" id="treeTable1">
								<thead>
									<th style="display:none;">ID</th>
									<th>名称</th>
									<th>图片</th>
									<th>类型</th>
									<th>链接(小程序)</th>
									<th>链接(H5)</th>
									<th>序号</th>
									<th>是否显示</th>
									<th>操作</th>
								</thead>
								<tbody>
									#if($!{pageInfos})
										#foreach($!{info} in $!{pageInfos})
											<tr id="$!{info.id}" pId="$!{info.parentCode}">
												<td controller="true">$!{info.name}</td>
												<td>
    												#if ($info.imageHref)
														<img src="$!{basePath}/upload/img/cms/$!{info.imageHref}" style="height:20px; width:20px;"/>
    												#end
												</td>
												<td>
													#if($!info.type=='link')
														链接
														#elseif($!info.type=='coulmn')
															栏目
													#end
												</td>
												<td >$!{info.href}</td>
												<td >$!{info.htmlLink}</td>
												<td>$!{info.serialNumber}</td>
												<td>
													#if($!info.isShow==1)
														是
													#elseif($!info.isShow==0)
														否
													#end
												</td>
												<td class="last">
													<a class="btn btn-xs btn-primary" href="javascript:doUrl('$!{basePath}/cms/back/cmsMenu/toEdit.do?id=$!{info.id}&mainId=$!{mainId}')" ><i class="fa fa-edit"></i> 编辑</a>
													<a class="btn btn-xs btn-danger" href="javascript:delData('$!{basePath}/cms/back/cmsMenu/doDelete.do?id=$!{info.id}')"><i class="fa fa-trash-o"></i> 删除</a>
												</td>
											</tr>
										#end
									#end
								</tbody>
							</table>
                            <div class="text-right">
                                <!--公用翻页代码-->
                                #set($attr='formSubmit')
                                #showPageList($pageInfos $attr)
                                <!--END公用翻页代码-->
                            </div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
<script type="text/javascript" src="$!{basePath}/content/system/js/treetable/jquery.treeTable.js"></script>
<script type="text/javascript">
    jQuery(function(){
        var option = {
            theme:'default',
            expandLevel : 2,
            beforeExpand : function($treeTable, id) {
            },
            onSelect : function($treeTable, id) {
                window.console && console.log('onSelect:' + id);
            }

        };
        jQuery('#treeTable1').treeTable(option);
    });
</script>
</html>