<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
				<div class="panel panel-default">
					  <div class="panel-heading">项目介绍</div>
					  <div class="panel-body">
						
						<h1 style="white-space: normal; box-sizing: inherit; font-size: 28px; margin: 20px 0px 10px; font-family: Lato, &#39;Helvetica Neue&#39;, &#39;Microsoft YaHei&#39;, Arial, Helvetica, sans-serif; line-height: 1.33em; padding: 0px; min-height: 1rem; -webkit-font-smoothing: antialiased; cursor: text; position: relative; ">
    P3-Weixin&nbsp;<span style="line-height: 1.33em;">微信插件框架</span>
</h1>
<p style="box-sizing: inherit; margin-top: 0px; margin-bottom: 15px; line-height: 1.33; color: rgba(0, 0, 0, 0.8); font-family: Lato, &#39;Helvetica Neue&#39;, &#39;Microsoft YaHei&#39;, Arial, Helvetica, sans-serif; font-size: 15px; white-space: normal; ">
    【架构技术介绍】
</p>
<pre style="box-sizing: inherit; overflow: auto; font-family: Menlo, &#39;Liberation Mono&#39;, Consolas, &#39;DejaVu Sans Mono&#39;, &#39;Ubuntu Mono&#39;, &#39;Courier New&#39;, &#39;andale mono&#39;, &#39;lucida console&#39;, monospace; margin-top: 0px; margin-bottom: 15px; background-color: rgb(244, 244, 244); border: none; font-size: 13px; line-height: 19px; padding: 6px 10px; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; color: rgb(51, 51, 51);">1.P3-weixin 采用SpringMvc + Mybatis + Velocity + Maven(构建) 框架技术
2.插件引入方式
    pom.xml文件中，引入新开发的插件
    &lt;!-- P3 jar --&gt;
    &lt;dependency&gt;
        &lt;groupId&gt;org.jeecgframework&lt;/groupId&gt;
        &lt;artifactId&gt;P3-Biz-gzbargain&lt;/artifactId&gt;
        &lt;version&gt;2.0.0&lt;/version&gt;
    &lt;/dependency&gt;
3.项目启动访问方式：
  采用maven方式，启动Web项目
  http://localhost:8080/P3-Web/{页面访问地址}
4.页面层面不能采用jsp，需要采用模板语言Velocity
5.实现插件式开发，按照模块进行开发，每个模块可以单独达成jar包
6.数据库配置文件：
  src/main/resources/db.properties</pre>
<p style="box-sizing: inherit; margin-top: 0px; margin-bottom: 15px; line-height: 1.33; color: rgba(0, 0, 0, 0.8); font-family: Lato, &#39;Helvetica Neue&#39;, &#39;Microsoft YaHei&#39;, Arial, Helvetica, sans-serif; font-size: 15px; white-space: normal; ">
    【开发环境入门】
</p>
<pre style="box-sizing: inherit; overflow: auto; font-family: Menlo, &#39;Liberation Mono&#39;, Consolas, &#39;DejaVu Sans Mono&#39;, &#39;Ubuntu Mono&#39;, &#39;Courier New&#39;, &#39;andale mono&#39;, &#39;lucida console&#39;, monospace; margin-top: 0px; margin-bottom: 15px; background-color: rgb(244, 244, 244); border: none; font-size: 13px; line-height: 19px; padding: 6px 10px; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; color: rgb(51, 51, 51);">1.Eclipse + Maven + JDK7
2.项目以Maven方式导入eclipse
3.采用maven方式，启动主项目P3-Web，命令：tomcat:run
  活动访问地址：http://localhost:8080/P3-Web/gzbargain/toIndex.do?actId=actgzbargain00001&amp;openid=oR0jFt_DTsAUJebWqGeq3A1VWfRw&amp;subscribe=1
  说明：插件不能单独启动，maven方式引入到Web项目</pre>
<p style="box-sizing: inherit; margin-top: 0px; margin-bottom: 15px; line-height: 1.33; color: rgba(0, 0, 0, 0.8); font-family: Lato, &#39;Helvetica Neue&#39;, &#39;Microsoft YaHei&#39;, Arial, Helvetica, sans-serif; font-size: 15px; white-space: normal; ">
    【插件项目生成】
</p>
<pre style="box-sizing: inherit; overflow: auto; font-family: Menlo, &#39;Liberation Mono&#39;, Consolas, &#39;DejaVu Sans Mono&#39;, &#39;Ubuntu Mono&#39;, &#39;Courier New&#39;, &#39;andale mono&#39;, &#39;lucida console&#39;, monospace; margin-top: 0px; margin-bottom: 15px; background-color: rgb(244, 244, 244); border: none; font-size: 13px; line-height: 19px; padding: 6px 10px; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; color: rgb(51, 51, 51);">工具类：P3-Project-Generator/src/main/java/GeneratorMain.java

public static void main(String[] args) throws Exception {
    //项目名
    String projectName = &quot;Gogo&quot;;//项目名称 ：P3-Biz-{自定义模块名}
    GeneratorFactory.doMake(projectName);
}

项目名：P3-Biz-{ProjectName}</pre>
						
				  	 </div>
			</div>
		</div>
	</div>
</body>
</html>

