<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	#parse("content/base/back/common/navigation.vm")
	<input type="hidden" id="top" name="top"/>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			#parse("content/base/back/common/menu.vm")
			<div  class="col-md-10">
				<iframe width="100%" height="600px" id="center" onload="javascript:dyniframesize('center');"  src="$!{basePath}/system/back/home.do" style="border:1px #fff solid; background:#CCC;"></iframe>
			</div>
		</div>
	</div>
</body>
#parse("content/base/back/common/bottom.vm")
</html>

