#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<link href="$!{basePath}/plug-in/plugin/hplus/css/style.css" type="text/css" rel="stylesheet"/>
<link href="$!{basePath}/plug-in/plugin/hplus/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/goldeneggs/back/wxActGoldeneggsRelation/list.do" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
					<div class="panel panel-default">
						<div class="panel-heading" style="34px">
							<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/goldeneggs/back/wxActGoldeneggs/list.do')"><span class="glyphicon glyphicon-circle-arrow-left"></span> 返回</button>
							<div style="height:1px;clear:both"></div>
						</div>
						<div class="panel-body">
							<div class="search">
								<input type="hidden" name="actId" id="actId" value="$!{wxActGoldeneggsRelation.actId}" class="form-control">
								<div class="form-group col-sm-3">
									<label for="prizeName" class="control-label col-sm-3 line34">奖项名称</label>
									<div class="col-sm-8">
										<input type="text" name="awardName" id="awardName" value="$!{wxActGoldeneggsRelation.awardName}" class="form-control">
									</div>
								</div>
								<div class="form-group col-sm-3">
								    <label for="awardName" class="control-label col-sm-3 line34">奖品名称</label>
								     <div class="col-sm-8">
								    <input type="text" name="prizeName" id="prizeName" value="$!{wxActGoldeneggsRelation.prizeName}" class="form-control">
								  	</div>
								</div>
								<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> 搜  索</button>
								<div class="clearfix"></div>
							</div>
							<div id="legend" style="height:2rem"></div>
								<table class="table table-striped">
									<thead>
										<th>奖项信息</th>
										<th>奖品数量 &nbsp; <span id="sj" style="color:#f00"></span></th>
										<th>中奖概率</th>
										<th>奖品投放起止时间</th>
										<th>操作</th>
									</thead>
									<tobody>
										#if($!{pageInfos})
											#foreach($!{info} in $!{pageInfos})
												<tr>			
													<td>
														<table>
															<tr>
                                                                <td><img src="#if($!{info.awardImg.indexOf('content')}==-1) $!{basePath}/upload/img/goldeneggs/$!{info.awardImg} #else $!{basePath}$!{info.awardImg} #end" width="30" height="30"></td>
																<td>$!{info.awardName}：&nbsp;$!{info.prizeName}</td>
															</tr>
														</table>
													</td>
													<td>
														<table>
                                                            <tr >
                                                                <td style="text-align:right;">总数：</td>
                                                                <td>$!{info.amount}</td>
                                                                <td style="text-align:right">&nbsp;&nbsp;&nbsp;剩余数：</td>
                                                                <td><span style="color:#f00;">$!{info.remainNum}</span></td>
															</tr>
															</table>
													</td>
													<td>$!{info.probabilitys}%</td>
													<td>$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{info.starttime})&nbsp;~
										            	</br>$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{info.endtime})
													</td>
													<td><a class="btn btn-success btn-xs" href="javascript:doUrl('$!{basePath}/goldeneggs/back/wxActGoldeneggsRelation/toSetCount.do?id=$!{info.id}')"><i class="fa fa-pencil"></i> 修改数量</a></td>
									      		</tr>
											#end
										#end
									</tobody>
								</table>
								<div class="text-right">
								<!--公用翻页代码-->
				                #set($attr='formSubmit')
				            	#showPageList($pageInfos $attr)
				                <!--END公用翻页代码-->
								</div>
						</div>	
					</div>
				</div>  
			</form>
		</div>
	</div>
</body>
</html>