<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">详情</div>
				  	<div class="panel-body">
				   		<form class="form-horizontal" role="form">
							  <fieldset disabled>
							  																 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;"></label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{wxActGoldeneggsRecord.actId}" name="actId" id="actId" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">openid</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{wxActGoldeneggsRecord.openid}" name="openid" id="openid" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">昵称</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{wxActGoldeneggsRecord.nickname}" name="nickname" id="nickname" class="form-control" />
													    </div>
													  </div>
													  <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">中奖时间</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!dateTool.format("yyyy-MM-dd",$!{wxActGoldeneggsRecord.createTime})" name="createTime" id="createTime" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">奖项</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{wxActGoldeneggsRecord.awardsId}" name="awardsId" id="awardsId" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">收货人姓名</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{wxActGoldeneggsRecord.realname}" name="realname" id="realname" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">手机号</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{wxActGoldeneggsRecord.phone}" name="phone" id="phone" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">地址</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{wxActGoldeneggsRecord.address}" name="address" id="address" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">抽奖序号</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{wxActGoldeneggsRecord.seq}" name="seq" id="seq" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">对应微信平台原始id</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{wxActGoldeneggsRecord.jwid}" name="jwid" id="jwid" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">奖品名字</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{wxActGoldeneggsRecord.prizesName}" name="prizesName" id="prizesName" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">中奖状态(0未中奖，1中奖)</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{wxActGoldeneggsRecord.awardsName}" name="awardsName" id="awardsName" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;"></label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{wxActGoldeneggsRecord.prizesState}" name="prizesState" id="prizesState" class="form-control" />
													    </div>
													  </div>
							  </fieldset>
							  			<div class="form-group mno">
											<div class="col-sm-offset-1 col-sm-6">
												<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/goldeneggs/back/wxActGoldeneggsRecord/list.do')">返回</button>
        									 </div>
        							    </div>
						</form>
					</div>
			</div>
		</div>
	</div>
</body>
</html>