@media screen and (max-width:1023px) {
.qr_code_pc_outer {
	display: none!important
}
}
@media screen and (min-width:1024px) {
.rich_media {
	width: 740px;
	margin-left: auto;
	margin-right: auto
}
.rich_media_inner {
	padding: 20px;
	background-color: #fff
}
.rich_media_meta {
	max-width: none
}
.rich_media_content {
	min-height: 350px
}
.rich_media_title {
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #e7e7eb
}
body {
	background-color: #fff
}
.discuss_container {
	width: 740px;
	margin-left: auto;
	margin-right: auto
}
.line_tips {
	background-color: #fff
}
.rich_media_meta.nickname {
	max-width: none
}
.loadmore.with_line .tips {
	background-color: #fff
}
}
@media screen and (min-width:1025px) {
.rich_media_inner {
	border: 1px solid #d9dadc;
	border-top-width: 0
}
body {
	background-color: #ffffff;
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "Î¢ÈíÑÅºÚ", Arial, sans-serif
}
.rich_media {
	position: relative
}
.rich_media_inner {
	padding-bottom: 100px
}
.rich_media_inner {
	position: relative
}
.qr_code_pc_outer {
	display: block!important;
	position: fixed;
	left: 0;
	right: 0;
	top: 20px;
	color: #717375;
	text-align: center
}
.qr_code_pc_inner {
	position: relative;
	width: 740px;
	margin-left: auto;
	margin-right: auto
}
.qr_code_pc {
	position: absolute;
	right: -145px;
	top: 0;
	padding: 16px;
	border: 1px solid #d9dadc;
	background-color: #fff
}
.qr_code_pc p {
	font-size: 14px;
	line-height: 20px
}
.qr_code_pc_img {
	width: 102px;
	height: 102px
}
}
.selectTdClass {
	background-color: #edf5fa!important
}
table.noBorderTable td, table.noBorderTable th, table.noBorderTable caption {
	border: 1px dashed #ddd!important
}
table {
	margin-bottom: 10px;
	border-collapse: collapse;
	display: table;
	width: 100%!important
}
td, th {
	word-wrap: break-word;
	word-break: break-all;
	padding: 5px 10px;
	border: 1px solid #DDD
}
caption {
	border: 1px dashed #DDD;
	border-bottom: 0;
	padding: 3px;
	text-align: center
}
th {
	border-top: 2px solid #BBB;
	background: #f7f7f7
}
.ue-table-interlace-color-single {
	background-color: #fcfcfc
}
.ue-table-interlace-color-double {
	background-color: #f7faff
}
td p {
	margin: 0;
	padding: 0
}
.res_iframe {
	display: block;
	width: 100%;
	background-color: transparent;
	border: 0
}
.vote_area {
	display: block;
	position: relative;
	margin: 14px 0;
	white-space: normal!important
}
.vote_iframe {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 0
}
form {
	display: none!important
}
@media screen and (min-width:0\0) and (min-resolution:72dpi) {
.rich_media_content table {
table-layout:fixed!important
}
.rich_media_content td, .rich_media_content th {
width:auto!important
}
}
.rich_media_content em {
	font-style: italic
}
.rich_media_tool_tips {
	margin-top: 20px;
	font-size: 14px
}
.rich_media_tool {
	overflow: hidden;
	padding: 18px 0;
	line-height: 30px
}
.rich_media_tool .link_primary {
	color: #8c8c8c
}
.rich_media_tool .meta_primary {
	float: left;
	margin-right: 14px
}
.rich_media_tool .meta_extra {
	float: right;
	margin-left: 14px
}
.rich_media_tool .meta_praise {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: 0;
	margin-right: 0
}
.rich_media_tool .praise_num {
	display: inline-block;
	vertical-align: top;
	min-width: 3em
}
.media_tool_meta {
	font-size: 14px
}
.media_tool_meta i {
	vertical-align: 0;
	position: relative;
	top: 1px;
	margin-right: 3px
}
.icon_praise_gray {
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAA+CAYAAAA1dwvuAAAACXBIWXMAAA7EAAAOxAGVKw4bAAACd0lEQVRYhe2XMWhUMRjHfycdpDg4iJN26CQih4NUlFIc3iTasaAO+iZBnorIId2CDg6PLqWDXSy0p28TJ6ejILgoKiLFSeRcnASLnDf2HPKll8b3ah5NQPB+cHzJl0v+73J5Sf6NwWCAD6kqxoEV4BywCTwA2j59V9QlxrxUNJeBOSkfBtaAHvDcp/O+GkJHJd4H7kr5nm/nOkJHJH4FHkv5WAyhUxLfAgelvBlUKFXFBNCU6oYl+j6oEHohADwFtoDTUn8dTChVxX7gjlSfSJyS+CaYEDCPXs4d4IXkzDR+8BWqfI9SVUyil/ENST20ml8BF4Afu4z9HT3V80B/TAY9CxTABNAHxp1Oj4B1q34dWAamGa5Al0PALfSs3TS/aE1EcERWgQXgozPIN+Ai6O2ljFQVM8BLZJqN0KTEhgj9kvrViqf1wYz5BcoXQ38Pg9uckfiuSigU0xLXowmlqpgCjgNd4FM0IeCKxGcmEUtoRqLZScILpaqYA06iN9/tTTfGLzKvxLKdDCqUquIEcB59xK9GE2J4xLeBn3ZD1abaq/sQqSpmgWvo82rBbTdCPeAA4N69/noXS1XhphaBz27SPPVtapz/FXSBFsNDcgcN3wvkiBEjRoSndAtqLXXKvuvtYfMs+SP3T3tYm6ge1iaqh7UJ62HRTqNZko/mYV3CeVjA9rAuUTxsGd4edrcX1vWwddn2sHmWaA/bWuq4HnYLff3aC7U8bAiaMPyPJp3GhnxCUOlhQxPdwxrieViLbp4lUT2sIbqHNcTzsBYbeZZE9bCGeB7WIrqHNbTzLNnhYWMIlXpYI9Rz8gM8/GsFi3mW/Ace9jf8QZwIX5o4uQAAAABJRU5ErkJggg==) no-repeat 0 0;
	width: 13px;
	height: 13px;
	vertical-align: middle;
	display: inline-block;
	-webkit-background-size: 100% auto;
	background-size: 100% auto
}
.icon_praise_gray.praised {
	background-position: 0 -18px
}
.praised .icon_praise_gray {
	background-position: 0 -18px
}
.btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 14px;
	padding-right: 14px;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	overflow: visible;
	height: 42px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #fff;
	line-height: 42px;
	-webkit-tap-highlight-color: rgba(255,255,255,0)
}
.btn.btn_inline {
	display: inline-block
}
.btn_primary {
	background-color: #04be02
}
.btn_primary:not(.btn_disabled):visited {
	color: #fff
}
.btn_primary:not(.btn_disabled):active {
	color: rgba(255,255,255,0.4);
	background-color: #039702
}
.btn_disabled {
	color: rgba(255,255,255,0.6)
}
.loadmore {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 14px;
	min-height: 24px
}
.loadmore .tips {
	display: inline-block;
	vertical-align: middle
}
.loadmore .loading_icon {
	margin-right: 5px
}
.loadmore.with_line .tips_wrp {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	border-top: 1px solid #bcbab6
}
.loadmore.with_line .tips {
	position: relative;
	top: -12px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: #fff
}
.line_tips_wrp {
	margin-top: 20px;
	text-align: center;
	border-top: 1px dotted #a8a8a7;
	line-height: 16px
}
.line_tips {
	display: inline-block;
	position: relative;
	top: -10px;
	padding: 0 16px;
	font-size: 14px;
	color: #cfcfcf;
	background-color: #f8f7f5;
	text-decoration: none
}
.line_tips_wrp {
	margin-bottom: 10px;
	text-align: left;
	border-color: #e5e4e3
}
.line_tips_wrp .error_tips {
	margin-left: .5em
}
.line_tips_wrp.normal .line_tips {
	top: 10px
}
.line_tips_wrp.normal .error_tips {
	margin-left: 0
}
.line_tips {
	padding-left: 0;
	padding-right: .5em;
	color: #3e3e3e
}
.error_tips {
	color: #8c8c8c
}
.icon_arrow_gray {
	width: 7px
}
.icon_loading_white {
	width: 16px
}
.icon_loading_white.icon_before {
	margin-right: 1em
}
.icon_loading_white.icon_after {
	margin-left: 1em
}
.btn {
	display: block;
	padding-left: 14px;
	padding-right: 14px;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	overflow: visible;
	height: 42px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #fff;
	line-height: 42px;
	-webkit-tap-highlight-color: rgba(255,255,255,0)
}
.btn_primary {
	background-color: #04be02
}
.btn_primary:not(.btn_disabled):visited {
	color: #fff
}
.btn_primary:not(.btn_disabled):active {
	color: rgba(255,255,255,0.4);
	background-color: #039702
}
.wx_poptips {
	position: fixed;
	z-index: 3;
	width: 120px;
	min-height: 120px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: rgba(40,40,40,0.5)!important;
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#80282828', endcolorstr = '#80282828');
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff
}
.wx_poptips .icon_toast {
	width: 53px;
	margin: 15px 0 0
}
.wx_poptips .toast_content {
	margin: 0 0 15px
}
.loadmore .tips {
	color: #8c8c8c
}
.loadmore .tips.dot {
	color: #d3d3d3;
	font-size: 4px
}
.loadmore img {
	vertical-align: middle;
	margin-top: -3px
}
.loadmore.with_line .tips_wrp {
	margin: 40px 0 0;
	border-top-color: #e7e6e4
}
.loadmore.with_line .tips {
	padding-left: .5em;
	padding-right: .5em;
	top: -12px;
	background-color: #f8f7f5
}
.discuss_container .rich_media_title {
	padding-bottom: 10px
}
.discuss_container .discuss_message {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto
}
.discuss_container.disabled .btn_discuss {
	color: #60f05f
}
.discuss_container.access .discuss_container_inner {
	padding: 15px 10px 0
}
.discuss_container.editing .discuss_container_inner {
	padding-bottom: 25px
}
.discuss_container.editing .frm_textarea {
	height: 78px
}
.discuss_container.editing .frm_append.counter {
	display: block
}
.discuss_container.editing .discuss_btn_wrp {
	display: block
}
.discuss_container.editing .discuss_access_tips {
	margin-top: 0;
	margin-bottom: -14px
}
.discuss_container.warning .counter {
	color: #e15f63
}
.frm_textarea {
	width: 100%;
	background-color: transparent;
	border: 0;
	display: block;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 37px;
	padding: 10px 7px;
	resize: none;
	outline: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}
.frm_textarea_box_wrp {
	position: relative
}
.frm_textarea_box_wrp:before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 200%;
	height: 1px;
	border-top: 1px solid #e7e6e4;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	top: -1px
}
.frm_textarea_box_wrp:after {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 200%;
	height: 1px;
	border-top: 1px solid #e7e6e4;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	top: auto;
	bottom: -2px
}
.frm_textarea_box {
	position: relative;
	display: block;
	background-color: #fff
}
.frm_textarea_box:before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 200%;
	border-left: 1px solid #e7e6e4;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scale(0.5);
	transform: scale(0.5)
}
.frm_textarea_box:after {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 200%;
	border-left: 1px solid #e7e6e4;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	left: auto;
	right: -2px
}
.frm_append.counter {
	display: none;
	position: absolute;
	right: 8px;
	bottom: 8px;
	color: #a3a3a3;
	font-weight: 400;
	font-style: normal;
	font-size: 12px
}
.frm_append .current_num.warn {
	color: #f43631
}
.discuss_btn_wrp {
	display: none;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: right
}
.btn_discuss {
	padding-left: 1.5em;
	padding-right: 1.5em
}
.discuss_list {
	margin-top: -5px;
	padding-bottom: 20px;
	font-size: 13px
}
.discuss_item {
	position: relative;
	padding-left: 41px;
	margin-top: 20px;
*zoom:1
}
.discuss_item:after {
	content: "\200B";
	display: block;
	height: 0;
	clear: both
}
.discuss_item .user_info {
	min-height: 20px;
	overflow: hidden
}
.discuss_item .nickname {
	display: block;
	font-weight: 400;
	font-style: normal;
	color: #3e3e3e
}
.discuss_item .avatar {
	position: absolute;
	top: 0;
	left: 0;
	top: 3px;
	width: 35px;
	height: 35px;
	background-color: #ccc;
	vertical-align: top;
	margin-top: 0;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px
}
.discuss_item .discuss_message {
	color: #8c8c8c;
	line-height: 16px
}
.discuss_item .discuss_time {
	float: right;
	color: #c6c6c5;
	margin-left: 1em;
	font-size: 10px
}
.discuss_item .discuss_status {
	color: #ff7a21;
	white-space: nowrap
}
.discuss_item .discuss_status i {
	font-style: normal;
	margin-right: 2px
}
.discuss_access_tips img {
	vertical-align: middle;
	margin-left: 3px;
	margin-top: -4px
}
.discuss_access_tips .icon_edit {
	width: 12px
}
.discuss_access_tips .icon_access {
	width: 13px
}
.discuss_switch_tips, .discuss_access_tips {
	margin: 20px 0;
	min-height: 24px
}
.discuss_switch_tips, .discuss_access_tips, .dicuss_title_tips {
	color: #8c8c8c;
	font-size: 13px
}
.rich_media_extra {
	padding-bottom: 10px;
	font-size: 14px;
	position: relative
}
.rich_media_extra .extra_link {
	display: block
}
.rich_media_extra img {
	vertical-align: middle;
	margin-top: -3px
}
.rich_media_extra .appmsg_banner {
	width: 100%
}
.rich_media_extra .ad_msg_mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 200px;
	background-color: #000;
	filter: alpha(opacity = 20);
	-moz-opacity: .2;
	-khtml-opacity: .2;
	opacity: .2
}
.btn_default.btn_line {
	background-color: #fff;
	color: #04be02;
	border: 1px solid #04be02;
	height: 32px;
	line-height: 32px;
	width: 60px;
	text-align: center
}
.promotion_tag {
	position: absolute;
	display: block;
	height: 23px;
	line-height: 23px;
	width: 85px;
	background: transparent url(/mmbizwap/zh_CN/htmledition/images/ad/promotion_tag_bg2318b8.png) no-repeat 0 0;
	-webkit-background-size: 85px 23px;
	background-size: 85px 23px;
	font-size: 15px;
	font-style: normal;
	color: #eaeaea;
	padding-left: 10px;
	left: 0;
	bottom: 10px
}
.top_banner .rich_media_extra {
	padding: 10px 10px 0 10px
}
.top_banner .rich_media_extra .extra_link {
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #e7e7eb
}
.top_banner .rich_media_extra .extra_link:active, .top_banner .rich_media_extra .extra_link:focus {
	outline: 0;
	border: 0
}
.top_banner .rich_media_extra .appmsg_banner {
	width: 100%;
	vertical-align: top;
	outline: 0
}
.top_banner .rich_media_extra .appmsg_banner:active, .top_banner .rich_media_extra .appmsg_banner:focus {
	outline: 0;
	border: 0
}
.top_banner .rich_media_extra .promotion_tag {
	height: 20px;
	line-height: 20px;
	width: 72px;
	background: transparent url(/mmbizwap/zh_CN/htmledition/images/ad/promotion_tag_bg_small2318b8.png) no-repeat 0 0;
	font-size: 12px;
	-webkit-background-size: 72px 20px;
	background-size: 72px 20px
}
.top_banner .rich_media_extra .ad_msg_mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 200px;
	background-color: #000;
	filter: alpha(opacity = 20);
	-moz-opacity: .2;
	-khtml-opacity: .2;
	opacity: .2
}
.top_banner .rich_media_extra .ad_msg_mask img {
	position: absolute;
	width: 16px;
	top: 50%;
	margin-top: -8px;
	left: 50%;
	margin-left: -8px
}
.wrp_preview_group {
	padding-top: 100px
}
.preview_group {
	position: relative;
	min-height: 83px;
	background-color: #fff;
	border: 1px solid #e7e7eb
}
.preview_group.fixed_pos {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0
}
.preview_group .preview_group_inner {
	padding: 14px
}
.preview_group .preview_group_inner .preview_group_info {
	padding-left: 68px;
	color: #8d8d8d;
	font-size: 14px
}
.preview_group .preview_group_inner .preview_group_info .preview_group_title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	color: #000;
	font-weight: 400;
	font-style: normal;
	padding-right: 73px;
	max-width: 142px;
	display: block
}
.preview_group .preview_group_inner .preview_group_info .preview_group_desc {
	padding-right: 65px;
	display: inline-block;
	line-height: 20px
}
.preview_group .preview_group_inner .preview_group_info .preview_group_avatar {
	position: absolute;
	width: 55px;
	height: 55px;
	left: 13px;
	top: 50%;
	margin-top: -27px;
	z-index: 1
}
.preview_group .preview_group_inner .preview_group_info .preview_group_avatar.br_radius {
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%
}
.preview_group .preview_group_inner .preview_group_opr {
	position: absolute;
	line-height: 83px;
	top: 0;
	right: 13px
}
.preview_group .preview_group_inner .preview_group_opr .btn {
	padding: 0;
	text-align: center;
	min-width: 60px
}
.preview_group.preview_card .card_inner .preview_card_avatar {
	position: absolute;
	width: 57px;
	height: 57px;
	left: 13px;
	top: 50%;
	margin-top: -28px
}
.preview_group.preview_card .card_inner .preview_group_info {
	padding-left: 70px
}
.preview_group.preview_card .card_inner .preview_group_info .preview_group_title2 {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	padding-right: 0;
	display: block
}
.preview_group.preview_card .card_inner .preview_group_info .preview_group_desc {
	padding-right: 0
}
.preview_group.preview_card .card_inner .preview_group_info.append_btn .preview_group_desc, .preview_group.preview_card .card_inner .preview_group_info.append_btn .preview_group_title {
	padding-right: 68px;
	width: auto
}
.preview_group.obvious_app {
	width: 100%
}
.preview_group.obvious_app .preview_group_inner {
	padding: 0
}
.preview_group.obvious_app .pic_app {
	width: 58.3%;
	height: 100%;
	display: inline-block;
	margin-right: 2%;
	vertical-align: top
}
.preview_group.obvious_app .pic_app img {
	width: 100%;
	vertical-align: top;
	margin-top: 0
}
.preview_group.obvious_app .info_app {
	display: inline-block;
	width: 38%;
	color: #8a8a8a;
	font-size: 12px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: absolute;
	left: 62%;
	top: 0;
	height: 100%
}
.preview_group.obvious_app .info_app .name_app {
	color: #000;
	font-size: 16px;
	width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	margin-top: 4%
}
.preview_group.obvious_app .info_app .profile_app {
	line-height: 12px
}
.preview_group.obvious_app .info_app .profile_app span {
	line-height: 16px
}
.preview_group.obvious_app .info_app .profile_app em {
	font-size: 9px;
	line-height: 16px;
	margin: 0 5px;
	font-weight: 400;
	font-style: normal;
	color: #dfdfdf
}
.preview_group.obvious_app .info_app .dm_app {
	line-height: 20px;
	vertical-align: middle;
	position: absolute;
	left: 0;
	bottom: 5%
}
.preview_group.obvious_app .info_app .dm_app p {
	line-height: 12px
}
.preview_group.obvious_app .info_app .dm_app .ad_btn {
	display: block;
	color: #04be02;
	font-size: 15px;
	padding-left: 22px
}
.preview_group.obvious_app .info_app .dm_app .ad_btn.btn_download {
	background: transparent url(http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/images/ad/icon58_download@3x.png) no-repeat 0 0;
	-webkit-background-size: 19px 19px;
	background-size: 19px 19px
}
.preview_group.obvious_app .info_app .dm_app .ad_btn.btn_install {
	background: transparent url(http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/images/ad/icon58_install@3x.png) no-repeat 0 0;
	-webkit-background-size: 19px 19px;
	background-size: 19px 19px
}
.preview_group.obvious_app .info_app .dm_app .ad_btn.btn_installed {
	background: transparent url(http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/images/ad/icon58_installed@3x.png) no-repeat 0 0;
	-webkit-background-size: 19px 19px;
	background-size: 19px 19px;
	color: #8a8a8a
}
.preview_group.obvious_app .info_app .dm_app .ad_btn.btn_open {
	background: transparent url(http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/images/ad/icon58_open@3x.png) no-repeat 0 0;
	-webkit-background-size: 19px 19px;
	background-size: 19px 19px
}
.preview_group.obvious_app .info_app .dm_app .extra_info {
	font-size: 9px
}
