<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--上传到服务器记得删除-->	
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
#parse("content/base/back/common/head.vm")
<style>
body {
  background-color: #d8d9db;
}
.loginP{
	position:absolute;
	left:50%;
	top:50%;
	margin-left: -189px;
	margin-top: -259px; 
	width: 378px; 
	height: 518px;
	background: url("../plug-in/css/images/login-jeewx.png") left top no-repeat;}
h1{ margin-top: 160px; color: #0096cd; font-family: "sans-serif"; font-size: 32px;}	
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
</head>
<body>
	<div class="header">
		<div class="pull-left logo">$!{logoTitle.logo}</div>
	</div>
	<div class="container" style="min-height: 400px;">
		<!--
			<h1 class="center-block" style="width:230px;">P3插件管理系统</h1>
			<hr />
		-->
		<div class="loginP">
			<h1 class="center-block" style="width:290px;font-size:x-large;text-align:center">$!{logoTitle.title1}</h1>
			<form action="../system/login.do" id="loginform" class="form-signin" role="form" method="post">
				<input type="hidden" name="jwid" id="jwid" value="">
				<input type="text" name="username" id="username" class="form-control" placeholder="用户名" required autofocus style="background:url('../plug-in/css/images/u.png') 10px center no-repeat #fff; text-indent:30px;"> <br/>
				<input type="password" name="password"  id="password"  class="form-control" placeholder="密码" required autofocus style="background:url('../plug-in/css/images/p.png') 10px center no-repeat #fff; text-indent:30px;margin-bottom:0"> <br/>
				<input type="text" id="randCode" name="randCode" class="form-control" placeholder="验证码" required autofocus style="background:url('../plug-in/css/images/p.png') 10px center no-repeat #fff; text-indent:30px;width:170px;float:left">
					<img style="float:left;margin-left:15px;height:44px;width:110px" scr="javascript:location.href='/randCodeImage.do" id="randCodeImage"/> 
					<br/>
					<div style="clear:both;height:1px"></div>
				<label class="checkbox"> 
				<input type="checkbox" id="rememberme" name="rememberme"  onchange="javascript:setCheckbox(this);" />下次自动登录 </label>
				<input type="button" class="btn btn-primary" name="Submit2" value="登&nbsp;录"  onclick="javascript:checkUser();"/>
				<input type="button" class="btn btn-primary" name="Submit2" value="注&nbsp;册"  onclick="doUrl('$!{basePath}/system/register.do')"/>
			</form>
		</div>
	</div>
	
<!-- Modal -->
<div class="modal fade" id="addOrUpdateModal" tabindex="-1" role="dialog" aria-labelledby="addOrUpdateModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 50%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="addOrUpdateModalLabel">title</h4>
      </div>
      <div class="modal-body" id="modalDialog">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="dialogFormClose" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="dialogFormSubmit" onclick="submitForm();" >确&nbsp;定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
	$(function() {
		$("#randCodeImage").attr("src","$!{basePath}/randCodeImage?v="+new Date().getTime());
		$("#randCodeImage").click(function(){
			$("#randCodeImage").attr("src","$!{basePath}/randCodeImage?v="+new Date().getTime());
		});
		$(document).keyup(function(e){
			var key=e.which;
    		if(key==13){
    			checkUser();
    		}
		});
		if($("#top",parent.document.body).attr("name")!= undefined){
   			$(parent.location).attr("href","$!{basePath}/system/logout.do");	
   		}
	});
	function setCheckbox(box){
		var me = box;
		if(me.checked){
			box.value=box.name
		}else{
			box.value="00";
		}
	}
	function submitForm(){
		  var jwid = $("#jwid").val();
	      if(jwid==""){
	         alert("请选择公众号");
	         return;
	      }
		  document.getElementById('loginform').submit();
	}
	
	function checkUser(){
		var url = "$!{basePath}/system/checkUser.do";
		var username = $("#username").val();
	 	var password = $("#password").val();
		var randCode = $("#randCode").val();
		jQuery.ajax({
			url : url,
			type:"post",
			dataType : "json",
		    cache: false,
		    data:{
		      	 username:username
		      	,password:password
				,randCode:randCode
		    },
			success : function(data){
				//$("#randCodeImage").attr("src","$!{basePath}/randCodeImage?v="+new Date().getTime());
				if(data.success){	
				     if(data.obj!=""){
				     	$("#jwid").val(data.obj);
				     	submitForm();
				     }else{
					 	preLogin('$!{basePath}/system/preLogin.do','请选择公众号');
					 }
				}else{
					alert(data.msg);
				}
			},  
	        error: function(data, status, e){  
	      		if(data.status == "401"){
					alert("没有权限！");
					return;
				}else{
					alert("异常");
				}
	       }
		});
	}
	
	
	function preLogin(url,title){ 
		if(url.indexOf('?')>-1){
	 		url += '&t=' + Math.random(1000);  
	 	}else{
	 		url += '?t=' + Math.random(1000);  
	 	}
	 	var username = $("#username").val();
	 	var password = $("#password").val();
	 	$('#addOrUpdateModalLabel').html(title);
	 	$('#addOrUpdateModal .modal-body').html(""); 
		jQuery.ajax({
	      url: url,
	      cache: false,
	      data:{
	      	username:username
	      	,password:password
	      },
		  dataType: "html",
	      success: function(data){
	        $('#addOrUpdateModal .modal-body').html(data); 
	      },  
	      error: function(data, status, e){  
	      		if(data.status == "401"){
					alert("没有权限！");
					return;
				}
	      }
	    });
		$('#addOrUpdateModal').modal({show:true,backdrop:false}); 
	}
	
	function selectJwid(){
		var jwid = $("#jwid_select").val();
		$("#jwid").val(jwid);
	} 
	
	function syncJwid(url){
		if(url.indexOf('?')>-1){
	 		url += '&t=' + Math.random(1000);  
	 	}else{
	 		url += '?t=' + Math.random(1000);  
	 	}
	 	var username = $("#username").val();
	 	var password = $("#password").val();
	 	//$('#addOrUpdateModal .modal-body').html(""); 
		jQuery.ajax({
	      url: url,
	      cache: false,
	      data:{
	      	 username:username
	      	,password:password
	      },
		  dataType: "html",
	      success: function(data){
	          $('#addOrUpdateModal .modal-body').html(data); 
	      	  if(data!=""&&data.indexOf("jwid_select_flag_success")!=-1){
	          		alert("同步完成");
	          }else if(data!=""&&data.indexOf("jwid_select_flag_fail")!=-1){
	          		alert("没有查到分配的公众号");
	          }else{
	          	    alert("同步异常");
	          }
	      },  
	      error: function(data, status, e){  
	      		if(data.status == "401"){
					alert("没有权限！");
					return;
				}else{
					alert("同步异常");
				}
	      }
	    });
	}
	
	
</script>
</body>
</html>