#set($version='?v=1.3.5')
#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>群发消息</title>
<body style='overflow:scroll;overflow-x:hidden'>
<link href="$!{basePath}/plug-in/plugin/hplus/css/style.css" type="text/css" rel="stylesheet"/>
<link href="$!{basePath}/plug-in/plugin/hplus/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<link href="$!{basePath}/content/message/css/index.css$!{version}" type="text/css" rel="stylesheet"/>
<div class="jmain">
<input type="hidden" id="basePath" value="$!{basePath}"/>
    <!--群发对象begin--> 
	<div class="jtit">
    	<div class="list1" style="padding-left: 0px;">
    		<div class="jcont">
    		<div class="jtxt">群发对象</div>
    		<div class="c_one">
    			<select name="isToAll" id="isToAll">
    				<option value="true">全部用户</option>
    				<option value="tag">按标签选择</option>
    			</select>
    		</div>
    		<div class="c_three" style="display:none">
    			<select name="tagId" id="tagId">
    				<option value="null" selected="selected">----------</option>
					#if(${tagList})
						#foreach(${tag} in ${tagList})
    					<option value="${tag.tagid}">${tag.name}</option>
						#end
					#end
    			</select>
    		</div>
    		</div>
    	</div>	
    	#*<div class="list1" id="selectWeixinAccount">
    		<div class="jtxt" style="margin-top: 2px;">选择公众账号</div>
    		<div class="jcont">
    			<input name="weixinAccountId"  type="hidden" value="" id="weixinAccountId"> 
    			<input name="weixinAccountName" style="height:28px;border: 1px solid #edeef1;" type="text" class="inputxt" value="" id="weixinAccountName" readonly="readonly" /> 
    			<a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"  style="color:black"><i class="fa fa-search"></i> 选择</a>
    			<a href="#" class="easyui-linkbutton" plain="true" icon="icon-redo" onClick="clearAll();" style="color:black"><i class="fa fa-mail-forward"></i> 清空</a>
    			<span class="Validform_checktip">公众账号可多选</span>
    		</div>
    	</div>*#
	</div>
	<!--群发对象end-->
	<!--正文begin-->
    <div class="c_cont">
    <div class="c_tree">
        <ul>
        	<li>
        		<a href="javascript:void(0);"> 
        			<i id="text" style="background-position: 0px -30px;"></i>
        		</a>
        	</li>
        	#*<li>
        		<a href="javascript:void(0);">
        			<i id="image" data-toggle="modal" data-target=".bs-example-modal-lg" style="background-position: 0px -120px;"></i>
        		</a>
        	</li>
        	<li>
        		<a href="javascript:void(0);">
        			<i id="video" data-toggle="modal" data-target=".bs-example-modal-lg"></i>
        		</a>
        	</li>
        	<li>
        		<a href="javascript:void(0);">
        			<i id="voice" data-toggle="modal" data-target=".bs-example-modal-lg"></i>
        		</a>
        	</li>*#
        	<li>
        		<a href="javascript:void(0);">
        			<i style="background-position: 0px -240px;" id="mpnews" data-toggle="modal" data-target=".bs-example-modal-lg"></i>
        		</a>
        	</li>
        </ul>
    </div>
    <div class="c_bj">
    	<textarea class="wz" placeholder="请输入内容" name="param" id="param"  onkeyup="checkWords(this)"></textarea>
    </div>
    <div class="ts">还可以输入<i id="remainFont">600</i>字</div>
    </div>
	<!--正文end-->
    <!--footer-->
    <div class="c_footer">
		<button type="button" id="sendMessage" class="btn btn-primary" onclick="" ><i class="fa fa-send"></i> 群发</button>
    </div>
    <!--footer-->
</div>
<!--弹出框begin-->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="width: 70%;">
    <div class="modal-content" style="height:100%;min-height:550px">
		<div class="modal-header">
		  <input id="Template" value="" type="hidden"/>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myLargeModalLabel"></h4>
        </div>
		<div class="pmain"></div>
		<div class="modal-footer">
            <a href="javascript:sure()"><button type="button" class="btn btn-primary"><i class="fa fa-check"></i> 确定</button></a>
			<button id="close" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> 关闭</button>
		</div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="height:80%;min-height:550px">
		<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="mySmallModalLabel"></h4>
        </div>
    </div>
  </div>
</div>
<!--弹出框end-->
</body>
<script src="$!{basePath}/content/message/js/groupMessageSend.js$!{version}"></script>
<script type="text/javascript" src="$!{basePath}/content/weixin/js/checkPermission.js"></script> 
</html>