#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<link href="$!{basePath}/plug-in/plugin/hplus/css/style.css" type="text/css" rel="stylesheet"/>
<link href="$!{basePath}/plug-in/plugin/hplus/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/message/back/weixinGroupMessageSendDetail/list.do" method="post"  id="formSubmit">
				<div  style="width:100%">
					<div class="panel panel-default">
						<div class="panel-body">
								<input type="hidden" name="sendLogId" id="sendLogId" value="$!{weixinGroupMessageSendDetail.sendLogId}" class="form-control">
								<div class="search">
    								<div class="form-group col-sm-4">
    									<label for="sendJwidName" class="control-label col-sm-4 line34">公众号名称</label>
    									<div class="col-sm-8">
    										<input type="text" name="sendJwidName" id="sendJwidName" value="$!{weixinGroupMessageSendDetail.sendJwidName}" class="form-control">
    									</div>
    								</div>
									<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> 搜  索</button>
									<div class="clearfix"></div>
								</div>
								<div id="legend"><legend  class="le"></legend></div>
								<table class="table table-striped">
									<thead>
										<th width="80px">
											<input type="checkbox" name="ckAll" id="ckAll"  />全选
										</th>
										<th>公众号账号</th>
										<th>发送状态</th>
										<th>发送时间</th>
										<th>返回信息</th>
										<th>推送状态</th>
										<th>发送粉丝数信息</th>
									</thead>
									<tobody>
										#if($!{pageInfos})
											#foreach($!{info} in $!{pageInfos})
												<tr>		
													<td><input type="checkbox" name="ck" value="$!{info.id}" /></td>	
													<td>$!{info.sendJwidName}</td>
													<td>#if($!{info.sendStatus}=="1") 发送成功#else 发送失败#end</td>
													<td>$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{info.sendTime})</td>
													<td>$!{info.returnErrcode}:$!{info.returnErrmsg}</td>
													<td>$!{info.pushStatus}</td>
                                                    <td>发送总粉丝数：$!{info.pushTotalcount}<p></p>
														过滤后粉丝数：$!{info.pushFiltercount}<p></p>
														发送成功粉丝数：$!{info.pushSendcount}<p></p>
														发送失败粉丝数：$!{info.pushErrorcount}</td>
												</tr>
											#end
										#end
									</tobody>
								</table>
								<div class="text-right">
									<!--公用翻页代码-->
									#set($attr='formSubmit')
									#showPageList($pageInfos $attr)
									<!--END公用翻页代码-->
								</div>
						</div>	
					</div>
				</div>  
			</form>
		</div>
	</div>
</body>
</html>
<script>
$("#ckAll").click(function(){ 
	if($(this).prop("checked")){ 
	 $(":checkbox").prop("checked",true) 
	}else{ 
	$(":checkbox").prop("checked",false)  
	} 
}); 

//jquery获取复选框值    
function getCkValue(){  
  var chk_value =[];    
  $('input[name="ck"]:checked').each(function(){    
   chk_value.push($(this).val());    
  });    
  //alert(chk_value.length==0 ?'你还没有选择任何内容！':chk_value);    
}    

</script>