#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<link href="$!{basePath}/plug-in/plugin/hplus/css/style.css" type="text/css" rel="stylesheet"/>
<link href="$!{basePath}/plug-in/plugin/hplus/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/system/back/jwSystemProject/list.do" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
					<div class="panel panel-default">
					  <div class="panel-heading">插件项目列表</div>
					  <div class="panel-body">
					  		<div class="search">
								 <div class="form-group col-sm-4">
								    <label for="code" class="control-label col-sm-3 line34">项目编码</label>
								     <div class="col-sm-8">
								    <input type="text" name="code" id="code" value="$!{jwSystemProject.code}" class="form-control">
								  	</div>
								 </div>
								 <div class="form-group col-sm-4">
								    <label for="name" class="control-label col-sm-3 line34">项目名称</label>
								     <div class="col-sm-8">
								    <input type="text" name="name" id="name" value="$!{jwSystemProject.name}" class="form-control">
								  	</div>
								 </div>
								 <div class="form-group col-sm-4">
								    <label for="name" class="control-label col-sm-3 line34">分类名称</label>
								     <div class="col-sm-8">
								  	<select class="form-control" name="projectClassifyName" id="projectClassifyName">
										<option value="">请选择</option>
										#if($!{jwSystemProjectClassifys})
											#foreach($!{info} in $!{jwSystemProjectClassifys})
												<option value="$!{info.name}" #if($!{jwSystemProject.projectClassifyName}==$!{info.name})selected#end>$!{info.name}</option>
											#end
										#end
                                    </select>
									</div>
								 </div>
								  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> 搜  索</button>
								  <div class="clearfix"></div>
					  		</div>
					  		<div id="legend">
					          <legend  class="le"><button type="button" class="btn btn-primary" onclick="doUrl('$!{basePath}/system/back/jwSystemProject/toAdd.do')" ><span class="glyphicon glyphicon-plus"></span> 新增</button>
							  <button type="button" class="btn btn-danger" onclick="updateUrl();" ><span class="glyphicon glyphicon-refresh"></span> 变更平台域名</button>
							  ##<button type="button" class="btn btn-danger" onclick="updateType();" ><span class="glyphicon glyphicon-retweet"></span> 变更本地授权(重置活动地址)</button></legend> 
					        </div>
					        <table class="table table-striped">
						        <thead>
									<th>项目编码</th>
									<th>项目名称</th>
									<th>分类名称</th>
									<th>项目图片</th>
									##<th>应用类型</th>
		                			<th>操作</th>
						        </thead>
						        <tobody>
						    	  #if($!{pageInfos})
					                #foreach($!{info} in $!{pageInfos})
						            	<tr>			
											<td>$!{info.code}</td>
											<td>$!{info.name}</td>
											<td>$!{info.projectClassifyName}</td>
											<td>
												#if(${info.img.indexOf("http")}!= -1)
													<img src="$!{info.img}" width="20" height="20">
												#elseif($info.img!="")
													<img src="$!{basePath}/upload/img/system/$!{info.img}" width="20" height="20">
												#end
											</td>
											##<td>$!{info.applicationType}</td>
							                <td class="last">
					                			<a class="btn btn-xs btn-primary" href="javascript:doUrl('$!{basePath}/system/back/jwSystemProject/toEdit.do?id=$!{info.id}')" ><i class="fa fa-edit"></i> 编辑</a>
					                			<a class="btn btn-xs btn-danger" href="javascript:delData('$!{basePath}/system/back/jwSystemProject/doDelete.do?id=$!{info.id}')"><i class="fa fa-trash-o"></i> 删除</a>
			                				</td>
						           		</tr>
						             #end
						    	 #end
						         </tobody>
						    </table>
							<div class="text-right">
								<!--公用翻页代码-->
				                #set($attr='formSubmit')
				            	#showPageList($pageInfos $attr)
				                <!--END公用翻页代码-->
							</div>
					  </div>	
					</div>
				</div>  
			</form>
		</div>
	</div>
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" 
	               aria-hidden="true">×
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	            </h4>
	         </div>
	         <div class="modal-body" style="word-break:break-all">
                <div id="myModalContent" class="form-horizontal" style="float:left;width:100%" aria-describedby="copy-button">
					<div class="form-group">
    					<label class="control-label col-sm-2">原域名: </label>
    					<div class="col-sm-10">
							<input type="text" name="olddomain" id="olddomain" value="$!{domain}" class="form-control" datatype="url">
    					</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">新域名: </label>
    					<div class="col-sm-10">
							<input type="text" name="newdomain" id="newdomain" value="$!{domain}" class="form-control" datatype="url">
    					</div>
					</div>
				</div>
				<div id="qrcode" style="float:right">
                </div>
	         </div>
			 <div style="clear:both"></div>
	         <div class="modal-footer" id="modal-footer" style="margin-top:5%">
				<button type="button" class="btn btn-warning" onclick="doupdate();">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	         </div>
	      </div><!-- /.modal-content -->
	   </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
    <div id="menuContent" class="menuContent" style="display:none; position: absolute;z-index:10000">
    	<ul id="treeDemo" class="ztree" style="margin-top:0; width:160px;">
    	</ul>
    </div>
</body>
<script src="$!{basePath}/content/system/js/jquery.qrcode.min.js" type="text/javascript"></script>
<script src="$!{basePath}/content/system/js/clipboard.min.js" type="text/javascript"></script>
<script>
function updateUrl(){
    $('#myModalLabel').html(" 变更平台域名");
    $('#myModal1').modal({show:true,backdrop:true});
}

function doupdate(){
	var newdomain = $("#newdomain").val();
	var olddomain = $("#olddomain").val();
	if(newdomain == ""){
		layer.alert("新域名不能为空！");
	}else{
		//提示是否确认
		layer.confirm('变更平置台域名，会重置所有活动的链接，确定执行此次操作吗？', {
          btn: ['确定','取消'] //按钮
        }, function(){
          	jQuery.ajax({
                url:"$!{basePath}/system/back/jwSystemProject/changeUrl.do",
                type:"POST",
                dataType:"JSON",
                data:{
                    newdomain:newdomain,
                    olddomain:olddomain
                },
                success:function(data){
                    if(data.success){
                    	layer.alert("修改成功"); 
						$("#olddomain").val(data.msg);
						$("#old").html(data.msg);
						$("#newdomain").val("");
    					$('#myModal1').modal('hide');
                    }else{
                    	layer.alert("修改失败");
                    }
                }
           });
        }, function(){
			layer.close();
			$('#myModal1').modal('hide');
        });
	}
}

function updateType(){
	var domain = $("#olddomain").val();
	layer.confirm('变更为本地授权，将会重新生成平台的所有活动链接，是否确定执行此次操作？', {
          btn: ['确定','取消'] //按钮
    }, function(){
      	jQuery.ajax({
            url:"$!{basePath}/system/back/jwSystemProject/changeType.do",
            type:"POST",
            dataType:"JSON",
            data:{
                domain:domain
            },
            success:function(data){
                if(data.success){
                	layer.alert("修改成功"); 
                }else{
                	layer.alert("修改失败");
                }
            }
       });
    }, function(){
		layer.close();
    });
}
</script>
</html>