#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/system/back/jwSystemActTxt/list.do?actCode=$!{jwSystemActTxt.actCode}&backurl=$!{backurl}" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
    				<div class="panel panel-default">
    				  <div class="panel-heading">系统文本配置列表</div>
    				  <div class="panel-body">
    				  		<div class="search">
    							 <div class="form-group col-sm-4">
    							    <label for="code" class="control-label col-sm-3 line34">文本编码</label>
    							     <div class="col-sm-8">
    							    <input type="text" name="code" id="code" value="$!{jwSystemActTxt.code}" class="form-control">
    							  	</div>
    							 </div>
    							 <button type="submit" class="btn btn-primary">搜  索</button>
    							 <div class="clearfix"></div>
    				  		</div>
    				  		<div id="legend">
    				          <legend  class="le"><button type="button" class="btn btn-primary" onclick="doUrl('$!{basePath}/system/back/jwSystemActTxt/toAdd.do?actCode=$!{jwSystemActTxt.actCode}&backurl=$!{backurl}')" >新增</button></legend> 
    				        </div>
    				        <table class="table table-striped">
    					        <thead>
    									<th width="100px">文本编码</th>
    									<th width="100px">文本描述</th>
    									<th width="200px">文本内容</th>
    									<th hidden>所属活动</th>	
    		                			<th width="100px">操作</th>
    					        </thead>
    					        <tobody>
    					    	  #if($!{pageInfos})
    				                #foreach($!{info} in $!{pageInfos})
    					            	<tr>			
    													<td>$!{info.code}</td>
    													<td>$!{info.discribe}</td>
    													<td>$!{dictTool.subText($!{dictTool.escapeHtml($!{info.content})},100,'...')}</td>
    													<td hidden>$!{info.actCode}</td>
    						                <td class="last">
    			                			<a href="javascript:doUrl('$!{basePath}/system/back/jwSystemActTxt/toEdit.do?id=$!{info.id}&actCode=$!{jwSystemActTxt.actCode}&backurl=$!{backurl}')" >编辑</a>
    			                			<a href="javascript:delData('$!{basePath}/system/back/jwSystemActTxt/doDelete.do?id=$!{info.id}&actCode=$!{jwSystemActTxt.actCode}&backurl=$!{backurl}')">删除</a>
    			                			<a href="javascript:doUrl('$!{basePath}/system/back/jwSystemActTxt/toDetail.do?id=$!{info.id}&actCode=$!{jwSystemActTxt.actCode}&backurl=$!{backurl}')">详情</a>
    		                				</td>
    					           		</tr>
    					             #end
    					    	 #end
    					         </tobody>
    					    </table>
    						<div class="text-right">
    							<!--公用翻页代码-->
    			                #set($attr='formSubmit')
    			            	#showPageList($pageInfos $attr)
    			                <!--END公用翻页代码-->
    						</div>
    				  </div>	
    				</div>
				</div>
				<div class="form-group mno">
					<div class="col-sm-offset-1 col-sm-6">
						<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/$!{backurl}')">返回</button>
					 </div>
        		</div>  
			</form>
		</div>
	</div>
</body>
</html>