@font-face {font-family: "freefont";
  src: url('../icomoon/free/iconfont.eot'); /* IE9*/
  src: url('../icomoon/free/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../icomoon/free/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../icomoon/free/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../icomoon/free/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.freefont {
  font-family:"freefont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mianfeishiyong:before { content: "\e618"; }

.icon-icon6:before { content: "\e61a"; }

.icon-mianfeiwenda:before { content: "\e67d"; }

.icon-mianfei:before { content: "\e645"; }

.icon-mianfei1:before { content: "\e61e"; }

.icon-mianfei-copy:before { content: "\e600"; }

.icon-mianfei2:before { content: "\e61f"; }

.icon-mianfei3:before { content: "\ea0a"; }

