@font-face {font-family: "hykfont";
  src: url('../icomoon/hyk/iconfont.eot'); /* IE9*/
  src: url('../icomoon/hyk/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../icomoon/hyk/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../icomoon/hyk/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../icomoon/hyk/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.hykfont {
  font-family:"hykfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huiyuanqia:before { content: "\e601"; }

.icon-huiyuanqia1:before { content: "\e686"; }

.icon-huiyuanqia2:before { content: "\f00ee"; }

.icon-qia:before { content: "\e68b"; }

.icon-huiyuanqia3:before { content: "\e67b"; }

.icon-206:before { content: "\e615"; }

.icon-huiyuanqia4:before { content: "\e605"; }

.icon-huiyuanqia5:before { content: "\e668"; }

.icon-wodehuiyuanqia:before { content: "\e622"; }

