@font-face {font-family: "kffont";
  src: url('../icomoon/kf/iconfont.eot'); /* IE9*/
  src: url('../icomoon/kf/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../icomoon/kf/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../icomoon/kf/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../icomoon/kf/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.kffont {
  font-family:"kffont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kefu:before { content: "\f0054"; }

.icon-icon052:before { content: "\e63e"; }

.icon-shangchuanmoban:before { content: "\e622"; }

.icon-kefu1:before { content: "\e61c"; }

.icon-kefu2:before { content: "\e606"; }

.icon-kefu3:before { content: "\e66c"; }

.icon-kefu4:before { content: "\e70d"; }

.icon-kefu5:before { content: "\e747"; }

.icon-kefu6:before { content: "\e60b"; }

.icon-kefu7:before { content: "\e720"; }

.icon-kefu8:before { content: "\e643"; }

