@font-face {font-family: "positionfont";
  src: url('../icomoon/position/iconfont.eot'); /* IE9*/
  src: url('../icomoon/position/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../icomoon/position/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../icomoon/position/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../icomoon/position/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.positionfont {
  font-family:"positionfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before { content: "\e601"; }

.icon-infenicon07:before { content: "\e7a5"; }

.icon-weizhi:before { content: "\e634"; }

.icon-icon0:before { content: "\e620"; }

.icon-weizhi1:before { content: "\e60b"; }

.icon-weizhi2:before { content: "\e627"; }

.icon-weizhi3:before { content: "\e610"; }

.icon-wei-zhi:before { content: "\e63c"; }

.icon-location:before { content: "\e651"; }

.icon-weizhi4:before { content: "\e633"; }

