@charset "gb2312";
html{color:#000;background:#f1f1f1}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li,dl{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
body{font-family:"Microsoft YaHei",tahoma,verdana,arial,sans-serif; font-size: 12px;}
q{zoom:1;}
a{text-decoration:none;}
.ev_t_top1 {
    width: 100%;
    overflow: hidden;
    margin: auto;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 98;
}
.ev_t_top_div1 {
    max-width: 640px;
    overflow: hidden;
    margin: auto;
    padding: 10px 0;
    border-bottom: 0;background: #fafafa
}
.ev_location{ position:relative; height:30px;padding-left:35px; padding-right:118px; overflow:hidden}
.ev_t_top1 .ev_t_home1 {
    display: block;
    width: 20px;
    height: 22px;
    float: left;
    position: relative;background: url(../../images/wap/pro_login_run.png) no-repeat;
    background-size: 20px;position:absolute;left:15px;top:5px;
}
.ev_t_top1 .ev_t_top_a {
    width:103px;
    height: 23px;
    float: right;
    position:absolute;right:15px;top:4px;
}
.ev_t_top_share1 {
    background: url(../../images/wap/product_share.png) no-repeat;
    background-size: 22px;
    width: 22px;
    height: 22px;
	display: block;
    float: right;
}

.ev_t_top_user1 {
    background: url(../../images/wap/product_user_center.png) no-repeat;
    background-size: 22px;
    position: relative;width: 22px;
    height: 22px;display: block;
    float: right;
    margin-right:18px;
}
.ev_t_top_home1 {
    background: url(../../images/wap/foot_pic/foot_index.png) no-repeat;
    background-size: 22px;
    position: relative;width: 22px;
    height: 22px;display: block;
    float: right;
    margin-right:18px;
}
.ev_top_input{ overflow:hidden; height:28px; margin:0 15px; border:1px solid #dbdbdb; background-color:#FFF; border-radius:15px; position:relative; padding-right:20px;}
.ev_top_input input{ border:0;}
.ev_top_input a{ display:block; width:26px; height:26px; position:absolute; right:12px; top:1px; background:url(../../images/wap/pro_select.png) no-repeat right center; background-size:16px;}