@font-face {font-family: "fxfont";
  src: url('../icomoon/fx/iconfont.eot'); /* IE9*/
  src: url('../icomoon/fx/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../icomoon/fx/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../icomoon/fx/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../icomoon/fx/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.fxfont {
  font-family:"fxfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontshare:before { content: "\e662"; }

.icon-fenxiangan:before { content: "\359b"; }

.icon-fenxiang:before { content: "\e607"; }

.icon-fenxiaozhongxin2:before { content: "\e69b"; }

.icon-fenxiang1:before { content: "\e609"; }

.icon-jinlingyingcaiwangtubiao38:before { content: "\e7af"; }

.icon-fenxiao:before { content: "\e638"; }

.icon-kttx:before { content: "\e615"; }

.icon-fenxiao1:before { content: "\e628"; }

.icon-iconfontfenxiao:before { content: "\e64d"; }

.icon-distribute:before { content: "\e62e"; }

.icon-fenxiao2:before { content: "\e603"; }

.icon-fenxiao3:before { content: "\e63f"; }

.icon-fenxiao4:before { content: "\e61e"; }

.icon-wodefenxiao-:before { content: "\e629"; }

