@font-face {font-family: "xsgfont";
  src: url('../icomoon/xsg/iconfont.eot'); /* IE9*/
  src: url('../icomoon/xsg/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../icomoon/xsg/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../icomoon/xsg/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../icomoon/xsg/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.xsgfont {
  font-family:"xsgfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-192xianshisongda:before { content: "\e818"; }

.icon-xianshiqianggou:before { content: "\e69c"; }

.icon-xianshiqianggoulei:before { content: "\e63b"; }

.icon-xianshiqianggouleipc:before { content: "\e63f"; }

.icon-xianshiqianggou1:before { content: "\e635"; }

.icon-xianshiqianggou11:before { content: "\e6dd"; }

.icon-xianshi:before { content: "\e610"; }

